@charset "utf-8";

/*CHARACTER*/
.side-navi {transition: transform 400ms ease-in-out;}
.side-navi.open {transform: translate(530px, 0);}

.sub-navi {
  box-sizing: border-box;
  left: 0;
  min-width: 980px;
  padding: 0 20px 0 0;
  position: fixed;
  text-align: right;
  top: 60px;
  width: 100%;
  z-index: 900;
}
.sub-navi li {
  display: inline-block;
  margin: 0 0 0 10px;
}
.sub-navi li:first-child a {
	background: url(../images/character/sp-cha.png) no-repeat 0 0;
}
.sub-navi li:last-child a {
	width: 152px;
	background: url(../images/character/sp-cha.png) no-repeat -122px 0;
}
.sub-navi li.on a, .sub-navi li:hover a {
  background-position: 0 -33px;
}
.sub-navi li:last-child.on a, .sub-navi li:last-child:hover a {
  background-position: -122px -33px;
}
.sub-navi li a {
  display: block;
  height: 33px;
  width: 112px;
}

.side-navi {
  height: 100%;
  position: fixed;
  left: -530px;
  top: 0;
  z-index: 999;
}
.side-navi .btn-side-navi {
  position: absolute;
  top: 40%;
  left: 530px;
}
.side-navi .btn-side-navi:after {
	content:"";
	display: block;
	width: 11px;
	height: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -5px;
	transition: all .3s;
	background: url(../images/character/chaArrow.png) no-repeat;
}
.side-navi.open .btn-side-navi:after {
	transform: rotate(180deg);
	margin-left: -10px;
}
.side-navi .side-navi-inner {
  background: rgba(57, 155, 230, 0.8);
  box-sizing: border-box;
  height: 100%;
  position: relative;
  text-align: center;
  width: 530px;
  padding-top: 5%;
}

.side-navi .sideDeco {width: 90%; height: 97%; margin: 0 auto; position: relative; border: 1px solid #fff; border-radius: 20px;}
.side-navi .sideDeco > div {position: absolute; width: 48px; height: 33px;}
.side-navi .sideDeco .topL {top: -3px; left: -3px; background: url(../images/character/topL.png) no-repeat;}
.side-navi .sideDeco .topR {top: -3px; right: -3px; background: url(../images/character/topR.png) no-repeat;}
.side-navi .sideDeco .bottomL {bottom: -3px; left: -3px; background: url(../images/character/bottomL.png) no-repeat;}
.side-navi .sideDeco .bottomR {bottom: -3px; right: -3px; background: url(../images/character/bottomR.png) no-repeat;}

.side-navi .side-navi-contents {
  bottom: -100%;
  height: 650px;
  margin: auto;
  position: absolute;
  top: -100%;
  width: 100%;
}
.side-navi .side-navi-contents h3 {
  color: #fff;
  font-size: 24px;
  margin: 0 0 20px;
}
.side-navi .side-navi-contents li {
  box-sizing: border-box;
  height: 36px;
  padding: 8px 0 0;
}
.side-navi .side-navi-contents li:not(:last-child) {
  margin: 0 0 4px;
}
.side-navi .side-navi-contents li.on, .side-navi .side-navi-contents li:hover {
  background: url(../images/bg-current.png) no-repeat center 0;
}
.side-navi .side-navi-contents a {
	font-size: 16px;
  background-image: url(../images/icon-clover.png), url(../images/icon-clover.png);
  background-size: 10px 11px;
  background-position: left 4px, right 4px;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 1;
  padding: 0 20px;
}

#guild_01 {background:url('../images/character/@cha1.jpg') no-repeat fixed center center/cover; background-position: center 0px;}
#guild_02 {background:url('../images/character/@cha2.jpg') no-repeat fixed center center/cover;}
#guild_03 {background:url('../images/character/@cha3.jpg') no-repeat fixed center center/cover;}
#guild_04 {background:url('../images/character/@cha4.jpg') no-repeat fixed center center/cover;}
#guild_05 {background:url('../images/character/@cha5.jpg') no-repeat fixed center center/cover;}
#guild_06 {background:url('../images/character/@cha6.jpg') no-repeat fixed center center/cover;}
#guild_07 {background:url('../images/character/@cha7.jpg') no-repeat fixed center center/cover;}
#guild_08 {background:url('../images/character/@cha8.jpg') no-repeat fixed center center/cover;}
#guild_09 {background:url('../images/character/@cha9.jpg') no-repeat fixed center center/cover;}
#guild_10 {background:url('../images/character/@cha10.jpg') no-repeat fixed center center/cover;}
#guild_11 {background:url('../images/character/@cha11.jpg') no-repeat fixed center center/cover;}
#guild_12 {background:url('../images/character/@cha12.jpg') no-repeat fixed center center/cover;}
#guild_13 {background:url('../images/character/@cha13.jpg') no-repeat fixed center center/cover;}
#guild_14 {background:url('../images/character/@cha14.jpg') no-repeat fixed center center/cover;}
#guild_15 {background:url('../images/character/@cha15.jpg') no-repeat fixed center center/cover;}
#guild_16 {background:url('../images/character/@cha16.jpg') no-repeat fixed center center/cover;}
#guild_17 {background:url('../images/character/@cha17.jpg') no-repeat fixed center center/cover;}
#guild_18 {background:url('../images/character/@cha18.jpg') no-repeat fixed center center/cover; background-position: center 0px;}
#guild_19 {background:url('../images/character/@cha19.jpg') no-repeat fixed center center/cover;}



#character {z-index: -1; position: relative;}
#character.on {z-index: auto;}
#character .contents { top: -93%; min-height: 678px; max-height: 763px;}

.img-chara {position: absolute; left: 50%; transition: all 400ms; transition-timing-function: cubic-bezier(0.53, -0.26, 0.42, 1.405);}
.btn-chara {position: absolute; left: 50%; top: 50%; z-index: 10; transition: all 400ms;}
.img-chara.anime-ready { opacity: 0; transform: scale(0.8);}
.btn-chara.anime-ready { opacity: 0; transform: translate(-35px, 0);}
.character .title {transition: all 300ms; transition-delay: 500ms;  transition-timing-function: cubic-bezier(0.53, -0.26, 0.42, 1.405);}
.character .title.anime-ready {opacity: 0; transform: scale(0.7);}

.voiceWrap {opacity: 0; z-index: -9999; width: 1px; height: 1px;}

#guild_01 .chara_01_01 {margin: -28px 0 0 -238px; z-index: 1;}
#guild_01 .chara_01_02 {margin: 15px 0 0 -465px;}
#guild_01 .chara_01_03 {margin: -20px 0 0 90px;}
#guild_01 .btn_01_01 {margin: 130px 0 0 -80px;}
#guild_01 .btn_01_02 {margin: 88px 0 0 -420px;}
#guild_01 .btn_01_03 {margin: 20px 0 0 270px;}

#guild_02 .chara_02_01 {margin: -5px 0 0 -450px;}
#guild_02 .chara_02_02 {margin: 25px 0 0 -210px; z-index: 1;}
#guild_02 .chara_02_03 {margin: -20px 0 0 50px;}
#guild_02 .btn_02_01 {margin: 118px 0 0 -225px;}
#guild_02 .btn_02_02 {margin: 50px 0 0 -500px;}
#guild_02 .btn_02_03 {margin: 30px 0 0 305px;}

#guild_03 .chara_03_01 {margin: -40px 0 0 -626px; z-index: 1;}
#guild_03 .chara_03_02 {margin: -15px 0 0 -170px;}
#guild_03 .chara_03_03 {margin: 23px 0 0 148px;}
#guild_03 .btn_03_01 {margin: -274px 0 0 -197px;}
#guild_03 .btn_03_02 {margin: 80px 0 0 -175px;}
#guild_03 .btn_03_03 {margin: 10px 0 0 320px;}

#guild_04 .chara_04_01 {
  top: 100px;
  margin: 0 0 0 -182px;
  z-index: 1;
}
#guild_04 .chara_04_02 {
  top: 80px;
  margin: 0 0 0 -502px;
}
#guild_04 .chara_04_03 {
  top: 101px;
  margin: 0 0 0 57px;
}
#guild_04 .btn_04_01 {
  top: 508px;
  margin: 0 0 0 -236px;
  z-index: 2;
}
#guild_04 .btn_04_02 {
  top: 345px;
  margin: 0 0 0 -486px;
}
#guild_04 .btn_04_03 {
  top: 430px;
  margin: 0 0 0 280px;
}

#guild_05 .chara_05_01 {
  top: 60px;
  margin: 0 0 0 -425px;
}
#guild_05 .chara_05_02 {
  top: 100px;
  margin: 0 0 0 -6px;
}
#guild_05 .chara_05_03 {
  top: 180px;
  margin: 0 0 0 -212px;
  z-index: 1;
}
#guild_05 .btn_05_01 {
  top: 428px;
  margin: 0 0 0 -440px;
  z-index: 2;
}
#guild_05 .btn_05_02 {
  top: 447px;
  margin: 0 0 0 280px;
}
#guild_05 .btn_05_03 {
  top: 522px;
  margin: 0 0 0 7px;
  z-index: 2;
}

#guild_06 .chara_06_01 {
  top: 30px;
  margin: 0 0 0 -450px;
}
#guild_06 .chara_06_02 {
  top: 80px;
  margin: 0 0 0 -225px;
  z-index: 1;
}
#guild_06 .chara_06_03 {
  top: 35px;
  margin: 0 0 0 77px;
}
#guild_06 .btn_06_01 {
  top: 450px;
  margin: 0 0 0 -470px;
}
#guild_06 .btn_06_02 {
  top: 575px;
  margin: 0 0 0 -202px;
  z-index: 2;
}
#guild_06 .btn_06_03 {
  top: 443px;
  margin: 0 0 0 300px;
}

#guild_07 .chara_07_01 {
  top: 65px;
  margin: 0 0 0 -150px;
  z-index: 5;
}
#guild_07 .chara_07_02 {
  top: 24px;
  margin: 0 0 0 -355px;
}
#guild_07 .chara_07_03 {
  top: 86px;
  margin: 0 0 0 -300px;
  z-index: 3;
}
#guild_07 .chara_07_04 {
  top: 0;
  margin: 0 0 0 165px;
  z-index: 2;
}
#guild_07 .chara_07_05 {
  top: 204px;
  margin: 0 0 0 -553px;
  z-index: 4;
}
#guild_07 .btn_07_01 {
  top: 585px;
  margin: 0 0 0 -72px;
  z-index: 6;
}
#guild_07 .btn_07_02 {
  top: 186px;
  margin: 0 0 0 -420px;
  z-index: 6;
}
#guild_07 .btn_07_03 {
  top: 270px;
  margin: 0 0 0 -245px;
  z-index: 6;
}
#guild_07 .btn_07_04 {
  top: 350px;
  margin: 0 0 0 309px;
  z-index: 6;
}
#guild_07 .btn_07_05 {
  top: 553px;
  margin: 0 0 0 -490px;
  z-index: 6;
}

#guild_08 .chara_08_01 {
  top: 43px;
  margin: 0 0 0 -215px;
  z-index: 2;
}
#guild_08 .chara_08_02 {
  top: 57px;
  margin: 0 0 0 127px;
}
#guild_08 .chara_08_03 {
  top: 102px;
  margin: 0 0 0 -307px;
  z-index: 1;
}
#guild_08 .chara_08_04 {
  top: 45px;
  margin: 0 0 0 -545px;
}
#guild_08 .btn_08_01 {
  top: 380px;
  margin: 0 0 0 143px;
  z-index: 2;
}
#guild_08 .btn_08_02 {
  top: 310px;
  margin: 0 0 0 325px;
}
#guild_08 .btn_08_03 {
  top: 425px;
  margin: 0 0 0 -315px;
  z-index: 3;
}
#guild_08 .btn_08_04 {
  top: 360px;
  margin: 0 0 0 -545px;
}

#guild_09 .chara_09_01 {
  top: 82px;
  margin: 0 0 0 -119px;
  z-index: 1;
}
#guild_09 .chara_09_02 {
  top: 40px;
  margin: 0 0 0 -255px;
}
#guild_09 .chara_09_03 {
  top: 85px;
  margin: 0 0 0 -564px;
}
#guild_09 .chara_09_04 {
  top: 125px;
  margin: 0 0 0 123px;
}
#guild_09 .btn_09_01 {
  top: 482px;
  margin: 0 0 0 96px;
  z-index: 2;
}
#guild_09 .btn_09_02 {
  top: 325px;
  margin: 0 0 0 -210px;
  z-index: 2;
}
#guild_09 .btn_09_03 {
  top: 490px;
  margin: 0 0 0 -435px;
}
#guild_09 .btn_09_04 {
  top: 295px;
  margin: 0 0 0 324px;
}

#guild_10 .chara_10_01 {
  top: 110px;
  margin: 0 0 0 -158px;
  z-index: 4;
}
#guild_10 .chara_10_02 {
  top: 70px;
  margin: 0 0 0 -480px;
  z-index: 3;
}
#guild_10 .chara_10_03 {
  top: 40px;
  margin: 0 0 0 50px;
}
#guild_10 .chara_10_04 {
  top: 45px;
  margin: 0 0 0 -280px;
}
#guild_10 .btn_10_01 {
  top: 530px;
  margin: 0 0 0 -177px;
  z-index: 5;
}
#guild_10 .btn_10_02 {
  top: 460px;
  margin: 0 0 0 -495px;
  z-index: 4;
}
#guild_10 .btn_10_03 {
  top: 324px;
  margin: 0 0 0 313px;
}
#guild_10 .btn_10_04 {
  top: 85px;
  margin: 0 0 0 -85px;
  z-index: 4;
}

#guild_11 .chara_11_01 {
  top: 125px;
  margin: 0 0 0 -280px;
  z-index: 1;
}
#guild_11 .chara_11_02 {
  top: 45px;
  margin: 0 0 0 -65px;
}
#guild_11 .chara_11_03 {
  top: 120px;
  margin: 0 0 0 93px;
}
#guild_11 .chara_11_04 {
  top: 44px;
  margin: 0 0 0 -500px;
}
#guild_11 .btn_11_01 {
  top: 550px;
  margin: 0 0 0 -288px;
  z-index: 2;
}
#guild_11 .btn_11_02 {
  top: 115px;
  margin: 0 0 0 -104px;
  z-index: 2;
}
#guild_11 .btn_11_03 {
  top: 455px;
  margin: 0 0 0 340px;
}
#guild_11 .btn_11_04 {
  top: 400px;
  margin: 0 0 0 -517px;
}

#guild_12 .chara_12_01 {
  top: 90px;
  margin: 0 0 0 -300px;
  z-index: 1;
}
#guild_12 .chara_12_02 {
  top: 30px;
  margin: 0 0 0 -570px;
}
#guild_12 .chara_12_03 {
  top: 144px;
  margin: 0 0 0 168px;
  z-index: 1;
}
#guild_12 .chara_12_04 {
  top: 60px;
  margin: 0 0 0 45px;
}
#guild_12 .btn_12_01 {
  top: 490px;
  margin: 0 0 0 -300px;
  z-index: 2;
}
#guild_12 .btn_12_02 {
  top: 370px;
  margin: 45px 0 0 -520px;
  z-index: 2;
}
#guild_12 .btn_12_03 {
  top: 450px;
  margin: 0 0 0 320px;
  z-index: 2;
}
#guild_12 .btn_12_04 {
  top: 320px;
  margin: 0 0 0 10px;
  z-index: 2;
}

#guild_13 .chara_13_01 {
  top: 130px;
  margin: 0;
  z-index: 2;
}
#guild_13 .chara_13_02 {
  top: 110px;
  margin: 0 0 0 188px;
}
#guild_13 .chara_13_03 {
  top: 70px;
  margin: 0 0 0 -537px;
}
#guild_13 .chara_13_04 {
  top: 50px;
  margin: 0 0 0 -195px;
}
#guild_13 .chara_13_05 {
  top: 125px;
  margin: 0 0 0 -381px;
}
#guild_13 .btn_13_01 {
  top: 557px;
  margin: 0 0 0 -15px;
  z-index: 3;
}
#guild_13 .btn_13_02 {
  top: 410px;
  margin: 0 0 0 338px;
  z-index: 2;
}
#guild_13 .btn_13_03 {
  top: 425px;
  margin: 0 0 0 -508px;
  z-index: 2;
}
#guild_13 .btn_13_04 {
  top: 410px;
  margin: 0 0 0 -80px;
  z-index: 2;
}
#guild_13 .btn_13_05 {
  top: 565px;
  margin: 0 0 0 -370px;
}

#guild_14 .chara_14_01 {
  top: 83px;
  margin: 0 0 0 -122px;
  z-index: 1;
}
#guild_14 .chara_14_02 {
  top: 10px;
  margin: 0 0 0 -404px;
}
#guild_14 .chara_14_03 {
  top: 19px;
  margin: 0 0 0 70px;
}
#guild_14 .btn_14_01 {
  top: 500px;
  margin: 0 0 0 -184px;
  z-index: 2;
}
#guild_14 .btn_14_02 {
  top: 445px;
  margin: 0 0 0 -476px;
}
#guild_14 .btn_14_03 {
  top: 443px;
  margin: 0 0 0 317px;
}

#guild_15 .chara_15_01 {
  top: 165px;
  margin: 0 0 0 -217px;
  z-index: 2;
}
#guild_15 .chara_15_02 {
  top: 45px;
  margin: 0 0 0 80px;
  z-index: 1;
}
#guild_15 .chara_15_03 {
  top: 133px;
  margin: 0 0 0 -593px;
  z-index: 1;
}
#guild_15 .chara_15_04 {
  top: 40px;
  margin: 0 0 0 -315px;
}
#guild_15 .chara_15_05 {
  top: 33px;
  margin: 0 0 0 -73px;
}
#guild_15 .btn_15_01 {
  top: 575px;
  margin: -65px 0 0 -90px;
  z-index: 3;
}
#guild_15 .btn_15_02 {
  top: 520px;
  margin: 0 0 0 304px;
  z-index: 2;
}
#guild_15 .btn_15_03 {
  top: 476px;
  margin: 0 0 0 -485px;
  z-index: 2;
}
#guild_15 .btn_15_04 {
  top: 84px;
  margin: 0 0 0 -390px;
  z-index: 2;
}
#guild_15 .btn_15_05 {
  top: 86px;
  margin: 0 0 0 194px;
  z-index: 2;
}

#guild_16 .chara_16_01 {
  top: 60px;
  margin: 0 0 0 -360px;
  z-index: 2;
}
#guild_16 .btn_16_01 {
  top: 550px;
  margin: 0 0 0 -210px;
  z-index: 3;
}

#guild_17 .chara_17_01 {
  top: 59px;
  margin: 0 0 0 -331px;
  z-index: 2;
}
#guild_17 .btn_17_01 {
  top: 484px;
  margin: 0 0 0 56px;
  z-index: 3;
}


#guild_18 .chara_18_01 {
  top: 110px;
  margin: 0 0 0 -105px;
  z-index: 1;
}
#guild_18 .chara_18_02 {
  top: 114px;
  margin: 0 0 0 -488px;
}
#guild_18 .chara_18_03 {
  top: 116px;
  margin: 0 0 0 91px;
}
#guild_18 .chara_18_04 {
  top: 168px;
  margin: 0 0 0 -337px;
  z-index: 2;
}
#guild_18 .btn_18_01 {
  top: 537px;
  margin: 0 0 0 -49px;
  z-index: 3;
}
#guild_18 .btn_18_02 {
  top: 370px;
  margin: 0 0 0 -574px;
}
#guild_18 .btn_18_03 {
  top: 404px;
  margin: 0 0 0 384px;
}
#guild_18 .btn_18_04 {
  top: 554px;
  margin: 0 0 0 -347px;
  z-index: 3;
}

#guild_19 .chara_19_01 {
  top: 73px;
  margin: 0 0 0 -237px;
  z-index: 1;
}
#guild_19 .btn_19_01 {
  top: 484px;
  margin: 0 0 0 62px;
  z-index: 3;
}

/* ====================================
  CHARACTER AREA
==================================== */
#chara-area {position: absolute; top: 0; left: 0; z-index: 5; background: url(../images/character/bg-chara.jpg?=170710-1035) no-repeat fixed center 0/cover;}

#chara-area .chara-inner {
  bottom: -100%;
  height: 900px;
  left: -100%;
  margin: auto;
  position: absolute;
  right: -100%;
  top: -100%;
  width: 100%;
}
#chara-area h3 {
  left: -100%;
  margin: auto;
  position: absolute;
  right: -100%;
  top: 10px;
  width: 304px;
  z-index: 15;
}
#chara-area h4 {
  left: -100%;
  margin: auto;
  position: absolute;
  right: -100%;
  top: 110px;
  width: 444px;
  z-index: 15;
}
#chara-area .chara_01 {
  position: absolute;
  left: 50%;
  top: 144px;
  margin: 0 0 0 -325px;
  z-index: 14;
}
#chara-area .chara_02 {
  position: absolute;
  left: 50%;
  top: 90px;
  margin: 0 0 0 37px;
  z-index: 13;
}
#chara-area .chara_03 {
  position: absolute;
  left: 50%;
  top: 166px;
  margin: 0 0 0 -325px;
  z-index: 12;
}
#chara-area .chara_04 {
  position: absolute;
  left: 50%;
  top: 104px;
  margin: 0 0 0 -546px;
  z-index: 11;
}
#chara-area .chara_05 {
  position: absolute;
  left: 50%;
  top: 134px;
  margin: 0 0 0 156px;
  z-index: 10;
}
#chara-area .chara_06 {
  position: absolute;
  left: 50%;
  top: 38px;
  margin: 0 0 0 -598px;
  z-index: 9;
}
#chara-area .chara_07 {
  position: absolute;
  left: 50%;
  top: 40px;
  margin: 0 0 0 270px;
  z-index: 8;
}
#chara-area .chara_08 {
  position: absolute;
  left: 50%;
  top: -54px;
  margin: 0 0 0 -514px;
  z-index: 7;
}
#chara-area .chara_09 {
  position: absolute;
  left: 50%;
  top: -64px;
  margin: 0 0 0 144px;
  z-index: 6;
}
#chara-area .btnGoChara a {
  display: block;
  height: 126px;
  left: 50%;
  margin: 0 0 0 155px;
  position: absolute;
  top: 496px;
  width: 127px;
  z-index: 16;
	animation-duration: 3s;
	animation-name: bounceIn;
	animation-iteration-count: infinite;
	animation-delay: 2.5s;
}

@keyframes bounceIn {
  from,
  5%,
  10%,
  15%,
  20%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  5% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  10% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  15% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  20% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#chara-area .btnGoChara a:hover {
  background-position: 0 0;
}

#chara-area p[class^="chara_"] img {
  transition: all 450ms;
  transition-timing-function: cubic-bezier(0.53, -0.26, 0.42, 1.405);
}
#chara-area .chara_1 img {
  transition-delay: 70ms !important;
}
#chara-area .chara_2 img {
  transition-delay: 140ms !important;
}
#chara-area .chara_3 img {
  transition-delay: 210ms !important;
}
#chara-area .chara_4 img {
  transition-delay: 280ms !important;
}
#chara-area .chara_5 img {
  transition-delay: 350ms !important;
}
#chara-area .chara_6 img {
  transition-delay: 420ms !important;
}
#chara-area .chara_7 img {
  transition-delay: 490ms !important;
}
#chara-area .chara_8 img {
  transition-delay: 560ms !important;
}
#chara-area .chara_9 img {
  transition-delay: 630ms !important;
}
#chara-area.anime-ready p[class^="chara_"] img {
  opacity: 0;
  transform: scale(0.8);
}
#chara-area .btnGoChara a, #chara-area h3, #chara-area h4 {
  transition: all 400ms;
  transition-delay: 630ms !important;
}
#chara-area .btnGoChara a.anime-ready, #chara-area h3.anime-ready, #chara-area h4.anime-ready {
  opacity: 0;
  transform: scale(0.3);
}
#chara-area h4 {
  transition-timing-function: cubic-bezier(0.53, -0.26, 0.42, 1.405);
  transition-delay: 780ms !important;
  transition-duration: 500ms !important;
}
#chara-area h4.anime-ready {
  transform: scale(0.5);
}
