@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark|Ubuntu&display=swap');

@font-face {
    font-family:noto;
    src: url('./font/NotoSansKR-Regular-Hestia.eot');
   src: local('NotoSansKR-Regular-Hestia'), url('./font/NotoSansKR-Regular-Hestia.eot#iefix') format('embedded-opentype'), url('./font/NotoSansKR-Regular-Hestia.woff') format('woff'), url('./font/NotoSansKR-Regular-Hestia.ttf') format('truetype');
}

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
h1,h2{font-family:'Palanquin Dark', sans-serif; font-size: 12px;}
h3,h4{ text-transform: none;}
body,input,button {font-family: noto,serif; font-size: 15px;}
body{text-align:left; word-break:break-word;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
a{color:#000;text-decoration:none}
a:hover{color:#000;text-decoration:none}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}
caption{font-size:0; line-height:0; height:0}
* {box-sizing:border-box;}
*:focus {outline: none;}


button {border:none; appearance:none; -webkit-appearance:none; background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;}
button, button:focus,button:active{padding: 0;}


/*load*/
#loader-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000}
#loader-wrapper .loader-section{position:fixed;top:0;width:51%;height:100%;background:#000;z-index:1000;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
#loader-wrapper .loader-section.section-left{left:0}
#loader-wrapper #loader-container,.loader-circle,.loader-box,.loader-line-mask,.loader-svg{top:50%;left:50%;z-index:9999;position:absolute}
#loader-wrapper .loader-section.section-right{right:0}
.loaded #loader-wrapper .loader-section.section-left{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:all .7s .3s cubic-bezier(.645,.045,.355,1);transition:all .7s .3s cubic-bezier(.645,.045,.355,1)}
.loaded #loader-wrapper .loader-section.section-right{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);-webkit-transition:all .7s .3s cubic-bezier(.645,.045,.355,1);transition:all .7s .3s cubic-bezier(.645,.045,.355,1)}
#loader-wrapper #loader-container{-webkit-transition:opacity .6s ease-out;transition:opacity .6s ease-out;transform:translate(-50%,-50%)}
#loader-wrapper.fadeout #loader-container{opacity:0;-webkit-transition:opacity .6s ease-out;transition:opacity .6s ease-out}
.loaded #loader-wrapper{visibility:hidden;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transition:all .3s 1s ease-out;transition:all .3s 1s ease-out}
.no-js #loader-wrapper{display:none}
.loader-circle{margin-top: -70px; margin-left: -70px; width:140px;height:140px;border-radius:50%;box-shadow:inset 0 0 0 1px rgba(255,255,255,.1)}
.loader-line-mask{margin-top: -70px; margin-left: -70px; width:70px;height:140px;-webkit-transform-origin:70px 70px;-moz-transform-origin:70px 70px;-ms-transform-origin:70px 70px;-o-transform-origin:70px 70px;transform-origin:70px 70px;-webkit-mask-image:-webkit-linear-gradient(top,#000,rgba(0,0,0,0));-webkit-animation:rotate 1.2s infinite linear;-moz-animation:rotate 1.2s infinite linear;-ms-animation:rotate 1.2s infinite linear;-o-animation:rotate 1.2s infinite linear;animation:rotate 1.2s infinite linear;}
.loaded .loader-line-mask{-webkit-animation:none!important;-moz-animation:none!important;-ms-animation:none!important;-o-animation:none!important;animation:none!important}
.loader-line-mask .loader-line{width:140px;height:140px;border-radius:50%;box-shadow:inset 0 0 0 1px rgba(255,255,255,.5)}
.loader-svg{transform:translate(-50%,-50%)}
@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(360deg)}}
@-moz-keyframes rotate{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}
@-ms-keyframes rotate{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}
@-o-keyframes rotate{0%{-o-transform:rotate(0)}100%{-o-transform:rotate(360deg)}}
@keyframes rotate{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}
@-webkit-keyframes fade{0%{opacity:1}50%{opacity:.25}}
@-moz-keyframes fade{0%{opacity:1}50%{opacity:.25}}
@-ms-keyframes fade{0%{opacity:1}50%{opacity:.25}}
@-o-keyframes fade{0%{opacity:1}50%{opacity:.25}}
@keyframes fade{0%{opacity:1}50%{opacity:.25}}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@-moz-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@-ms-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}[not-existing]{zoom:1}:root{--scrollbar-size:0}
.scrollable{-webkit-overflow-scrolling:touch}
body {overflow: hidden;}
body.loaded {overflow-y: scroll;}
.mview {display: none; opacity: 0;}
body.mobilebody .mhidden {display: none; visibility: hidden; opacity: 0;}
body.mobilebody .mview {display: block; opacity: 1;} 

.loader-box, .loader-box::before, .loader-box::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader-box {
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  color: #CBB4A4;
  box-shadow: inset 0 0 0 1px rgba(203, 180, 164, 0.5);
  /*
  -webkit-animation:rotate 6s infinite linear;
  -moz-animation:rotate 6s infinite linear;
  -ms-animation:rotate 6s infinite linear;
  -o-animation:rotate 6s infinite linear;
  animation:rotate 6s infinite linear;
  */
}
.loader-box::before, .loader-box::after {
  content: "";
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
  -webkit-animation: clipMe 8s linear infinite;
  -moz-animation: clipMe 8s linear infinite;
  -ms-animation: clipMe 8s linear infinite;
  -o-animation: clipMe 8s linear infinite;
}
.loader-box::before {
  -webkit-animation-delay: -4s;
  -moz-animation-delay: -4s;
  -ms-animation-delay: -4s;
  -o-animation-delay: -4s;
  animation-delay: -4s;
  
}
.loader-box::after, .loader-box::before {
  background-color: rgba(203, 180, 164, 0.3);
}

@keyframes clipMe { 0%,100% {clip: rect(0px, 220px, 2px, 0px);}25% {clip: rect(0px, 2px, 220px, 0px);}50% {clip: rect(218px, 220px, 220px, 0px);}75% {clip: rect(0px, 220px, 220px, 218px);}}
@-webkit-keyframes clipMe { 0%,100% {clip: rect(0px, 220px, 2px, 0px);}25% {clip: rect(0px, 2px, 220px, 0px);}50% {clip: rect(218px, 220px, 220px, 0px);}75% {clip: rect(0px, 220px, 220px, 218px);}}
@-moz-keyframes clipMe { 0%,100% {clip: rect(0px, 220px, 2px, 0px);}25% {clip: rect(0px, 2px, 220px, 0px);}50% {clip: rect(218px, 220px, 220px, 0px);}75% {clip: rect(0px, 220px, 220px, 218px);}}
@-ms-keyframes clipMe { 0%,100% {clip: rect(0px, 220px, 2px, 0px);}25% {clip: rect(0px, 2px, 220px, 0px);}50% {clip: rect(218px, 220px, 220px, 0px);}75% {clip: rect(0px, 220px, 220px, 218px);}}
@-o-keyframes clipMe { 0%,100% {clip: rect(0px, 220px, 2px, 0px);}25% {clip: rect(0px, 2px, 220px, 0px);}50% {clip: rect(218px, 220px, 220px, 0px);}75% {clip: rect(0px, 220px, 220px, 218px);}}


.seperator-wrapper {
  width: 100%;
}
.seperator-wrapper .seperator {
  width: 3000px;
  height: 5px;
  animation: rotateline 3s infinite linear;
  -webkit-animation: rotateline 3s infinite linear;
}

@-webkit-keyframes rotateline {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0px;
  }
}
@keyframes rotateline {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0px;
  }
}
.gradient {
  background: #30ff90;
  /* Old browsers */
  background: -moz-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #30ff90), color-stop(25%, #ed2ded), color-stop(50%, #c99826), color-stop(75%, #30ffe6), color-stop(100%, #30ff90));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* IE10+ */
  background: linear-gradient(to right, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 );
  /* IE6-9 */
}



/* header */
.header {
	width: 100%; 
	height: 60px; 
	background: #fff; 
	position: fixed; 
	top: -100%; 
	transition: top ease-in-out 2s; 
	z-index: 100;
	box-shadow: 0 1px 15px #c3c3c3;
}
body.on .header {top: 0;}
.logo i {
	width: 91px; 
	height: 21px; 
	display: inline-block; 
	text-indent: -9999px; 
	background: url(../images/logo2.png) no-repeat;
	transition: all .5s;
	position: absolute;
	top: 20px;
	left: 50px;
}
.logo:hover i {background-position: 0 -21px;}

.gnbWrap {
	position: absolute;
	right: 50px;
	top: 7px;
	transition: all .5s;
	
}

.hamburger > a {width: 100%; height: 100%; display: block;}
.hamburger .line{
  width: 35px;
  height: 5px;
  background-color: #333;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-6:hover .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6:hover .line:nth-child(3){
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  -o-transform: translateY(-13px);
  transform: translateY(-13px);
}

#hamburger-6.is-active{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2){
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}


.hamburger.back.is-active .line:nth-child(1),
.hamburger.back.is-active .line:nth-child(3),
.hamburger.back:hover .line:nth-child(1),
.hamburger.back:hover .line:nth-child(3){
  width: 25px;
}

.hamburger.back.is-active .line:nth-child(1),
.hamburger.back:hover .line:nth-child(1) {
  -webkit-transform: translateX(-10px) translateY(5px) rotate(-45deg);
  -ms-transform: translateX(-10px) translateY(5px) rotate(-45deg);
  -o-transform: translateX(-10px) translateY(5px) rotate(-45deg);
  transform: translateX(-10px) translateY(5px) rotate(-45deg);
}

.hamburger.back.is-active .line:nth-child(3),
.hamburger.back:hover .line:nth-child(3) {
  -webkit-transform: translateX(-10px) translateY(-6px) rotate(45deg);
  -ms-transform: translateX(-10px) translateY(-6px) rotate(45deg);
  -o-transform: translateX(-10px) translateY(-6px) rotate(45deg);
  transform: translateX(-10px) translateY(-6px) rotate(45deg);
}


@media screen and (max-width: 768px) {
	.logo i {left: 20px;}
	.gnbWrap {right: 30px;}
}
