@charset "utf-8";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button,select,textarea{font-family:'Noto Sans KR',"맑은 고딕","Malgun Gothic",Sans-serif;font-size:12px;color:#000}
body{text-align:left; word-break:break-word;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:top}
img{vertical-align:top; max-width:100%;}
i,em,address{font-style:normal}
label,button{cursor:pointer}
a{color:#000;text-decoration:none}
a:hover{text-decoration:none}
hr{display:none}
table{border-collapse:collapse;border-spacing:0}
caption{font-size:0; line-height:0; height:0}
* {box-sizing:border-box;}

/* Placeholder */
::-webkit-input-placeholder { color: #fff; font-weight: normal; font-size: 24px; }
:-moz-placeholder { color: #fff; opacity: 1; font-weight: normal; font-size: 24px; }
::-moz-placeholder { color: #fff; opacity: 1; font-weight: normal; font-size: 24px; }
:-ms-input-placeholder { color: #fff; font-weight: normal; font-size: 24px; }

/* Skip */
#skipnavigation{z-index:9999;position:absolute;left:0;top:0;width:100%;text-align:center}
#skipnavigation *{list-style:none;margin:0;padding:0;}
#skipnavigation a{display:block;width:100%;height:0;overflow:hidden;white-space:nowrap;}
#skipnavigation a:focus,
#skipnavigation a:active{display:block;width:100%;height:36px;color:#fff;background:#000;line-height:36px;text-decoration:underline !important;font-size:14px;}

/* Form */
.hideForm { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }

/* Easy */
.clear:after {content:''; display:block; clear:both;}
.hidden { position: absolute; left: -9999px; height: 0; text-indent: -9999px; visibility: hidden; overflow: hidden;}
.spacer {width: 100%; height: 100%;}

body {overflow-x:hidden;  opacity: 0;  -webkit-text-size-adjust:50%;}
body.on {opacity: 1;}
body.init {-webkit-text-size-adjust:auto;}
#viewport {width: 720px; overflow-x: hidden; position: relative; z-index: 10;}

.hamburger { width: 60px; height: 55px; position: absolute; top: 40px; left: 27px; z-index: 101;}
.hamburger span {display: block; margin: 14px auto; background-color: white; width: 100%; height: 7px; border-radius: 7px; transition: all 0.5s ease;}
.hamburger span:first-child {margin-top: 0;}
.hamburger.is-opened .line1 {transform: translateY(20px) rotate(45deg);}
.hamburger.is-opened .line2 {transform: scaleX(0);}
.hamburger.is-opened .line3 {transform: translateY(-21px) rotate(-45deg);}


.header {position: fixed; top: 0; left: 0; width: 100%; z-index: 50; text-align: center;  transition: all .3s ease-in-out;  -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out;}
.header .btnCafe {position: absolute; right:20px; top:14px; z-index: 101; }
.header .btnCafe a {display: block;width: 95px; height: 95px; background:url('../images/btnCafe.png') no-repeat; text-indent:-999em; transition:.3s all;}

.header .in {position: absolute; left: 0; top: 0; width: 720px; height: 100%; overflow: hidden; opacity: 0; z-index: -1;  transition: all .3s ease-in-out;  -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out;}
.header .in:after {content:""; display: block; width: 720px; height: 100%; background: rgba(0, 0, 0, 0.3);}
.header.on .in {opacity: 1; z-index: 100;}

.navList {position: relative; padding-top: 132px; height: 0; background: url('../images/bgHeaderFull.png') repeat;}
.navList:after {content:""; display: block; width: 100%; height: 72px; background: url('../images/bgHeader.png') no-repeat; position: absolute; bottom: -72px; left: 0;}
.navList ul li:last-child {border-bottom:none;}
.navList ul li.btn a {display: block; height:0; position: relative;  width:100%; background: url('../images/gnbWrap.png') no-repeat; text-indent:-999em; }
.header.on {height: 100%;}
.header.on .navList {height: 1120px;}
.header.on .navList ul li.btn a {height: 247px;}

.navList ul li.no1 a {background-position: 0 0;}
.navList ul li.no2 a {background-position: 0 -247px;}
.navList ul li.no3 a {background-position: 0 -494px;}
.navList ul li.no4 a {background-position: 0 -741px;}

.navList ul li.no1.active a {background-position: -730px 0;}
.navList ul li.no2.active a {background-position: -730px -247px;}
.navList ul li.no3.active a {background-position: -730px -494px;}
.navList ul li.no4.active a {background-position: -730px -741px;}

.section {position:relative; width: 100%; text-align: center;}
.contents {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.spacer {width: 100%; height: 100%; display: inline-block; background:url('../images/blank.png') repeat; text-indent:-999em;}

.bookPlay {position: absolute; right:13px; top:780px; width: 170px; height: 170px;  z-index: 8; }

.choBox {position: absolute; right:-0; top:-300px; z-index: 5; transform:rotate(-20deg); transform-origin:0 0%; transition:1s all; transition-delay:200ms}
.choBox span{position: absolute; right:240px; top:32px; transition:1s all;   animation-duration:1s; animation-name: fire; animation-iteration-count: infinite; animation-direction: alternate;}
@keyframes fire {
  from {opacity: .5; transform:scale(.8) skew(5deg);}
  to {opacity: 1; transform:scale(1) skew(0deg);}
}

/*.reservWrap .baseForm {position: absolute; left:513px; margin-top:-400px; text-align: left; top:55%; opacity:0; transition:.5s all;}*/
.reservWrap .baseForm .inner {width:616px; margin: 0 auto; padding-top: 40px;}
.reservWrap .baseForm .reservTit01 {margin-bottom: 52px;}
.reservWrap .baseForm .deviceWrap {margin-bottom:19px;}
.reservWrap .baseForm .deviceWrap input {position: absolute; visibility:hidden;}
.reservWrap .baseForm .deviceWrap label {position: relative; padding-left: 50px; vertical-align: middle;}
.reservWrap .baseForm .deviceWrap label:after {content:''; position: absolute; left:0; top:0; width:29px; height: 29px; background:url('../images/bgCheck.png') no-repeat;}
.reservWrap .baseForm .deviceWrap input:checked + label:after {background:url('../images/bgCheckOn.png') no-repeat;}
.reservWrap .baseForm .deviceWrap label:last-child {margin-left: 47px;}
.reservWrap .baseForm .phonWrap {border-top:2px solid #fff; border-bottom:2px solid #fff;; margin-bottom: 24px;}
.reservWrap .baseForm .phonWrap input {text-align: center; font-size: 24px; color:#fff; height: 68px; border:none; background:none; width: 100%; }
.reservWrap .baseForm .agreeWrap {margin-bottom: 25px;}
.reservWrap .baseForm .agreeWrap input {position: absolute; visibility:hidden;}
.reservWrap .baseForm .agreeWrap label {position: relative; padding-left: 50px;}
.reservWrap .baseForm .agreeWrap label:after {content:''; position: absolute; left:0; top:-2px; width:29px; height: 29px; background:url('../images/bgCheck.png') no-repeat;}
.reservWrap .baseForm .agreeWrap input:checked + label:after {background:url('../images/bgCheckOn.png') no-repeat;}
.reservWrap .baseForm .agreeWrap a {margin-left: 40px;}
.reservWrap .baseForm .agreeWrap .agreeText {padding-top: 24px;}
.reservWrap .baseForm .btnReserv {margin-bottom: 49px;}
.reservWrap .baseForm .titOne {margin-bottom: 12px; text-align: center;}
.reservWrap .baseForm .btnOne {margin-bottom: 40px;}
.reservWrap .eventProduct {position: absolute; right:0; bottom: 0; transition:1s all; }

#introWrap .cha {position: absolute; left:-67px; top:-19px; z-index: 10; transition:1s all;}
.introArea {position: absolute; left:0; bottom: 0; width: 720px; background:url('../images/bgIntro.png') no-repeat; height: 1112px; z-index: 20;}
.introArea.no2 {background-position:0 -1113px;}

.introArea .gameTab {position: absolute; left:0; top: 40px; width: 100%; z-index: 12; }
.introArea .gameTab ul:after {content:''; display:block; clear:both;}
.introArea .gameTab ul li {float:left; width: 50%;}
.introArea .gameTab ul li a {height: 70px; background:url('../images/blank.png') repeat; text-indent:-999em; display: block;}

.introArea .gameIntro {padding-top: 160px; margin-left:17px; position: relative;}
.introArea .gameIntro .tit {margin-bottom:30px; text-align: left;}
.introArea .gameIntro ul {position: absolute; top: 274px; width: 682px; height: 780px;}
.introArea .gameIntro ul:after {content:''; display:block; clear:both;}
.introArea .gameIntro ul li {width: 100%; height: 180px; margin-bottom: 20px; position: relative; cursor:pointer;}
.introArea .gameIntro ul li:first-child {margin-left: 0;}
.introArea .gameIntro ul li a {display: block; position: relative; transition:.8s all; transform:scale(0); transform-origin:right center;}
.introArea .gameIntro ul li:before {content:''; position: absolute; right:5px; top:5px; width:181px; height: 412px; border:3px solid #a20c02; z-index: 10;  transition:.8s all; transform:scale(0); transform-origin:right center;}

.introArea .gameIntro ul li.no2 a {transition-delay:200ms;}
.introArea .gameIntro ul li.no3 a {transition-delay:300ms;}
.introArea .gameIntro ul li.no4 a {transition-delay:400ms;}

.introArea .gameIntro ul li.no2:before {transition-delay:350ms;}
.introArea .gameIntro ul li.no3:before {transition-delay:450ms;}
.introArea .gameIntro ul li.no4:before {transition-delay:550ms;}


.step3 .introArea .gameIntro ul li:before {transform:scale(1);}
.step3 .introArea .gameIntro ul li a {transform:scale(1);}



.tabSection {position: relative;z-index:11;}
.tabSection > div:last-child {opacity:0; visibility:hidden; position: absolute; top: 0; left: 0;}

.chaSlide{padding-top: 165px; width: 720px;}
.chaSlide .tit {margin-bottom:55px;}
.chaSlide .slider-for {margin-bottom:59px;}
.chaSlide .slick-arrow {position: absolute;  bottom:-80px;width: 25px; height: 41px; text-indent:-999em; border:none; outline:none; display: none !important;}
.chaSlide .slick-arrow.slick-prev {left:0; right:auto;  background:url('../images/slideLeft.png') no-repeat;}
.chaSlide .slick-arrow.slick-next {right:60px;  left:auto; background:url('../images/slideRight.png') no-repeat;}
.chaSlide .slider-nav {width: 654px; margin: 0 auto; }
.chaSlide .slider-nav .slick-track {transform: none !important;}
.chaSlide .slider-nav .slick-slide { margin-left: 12px;}
.chaSlide .slider-nav .top {margin-bottom: 24px; }
.chaSlide .slider-nav .no1, .chaSlide .slider-nav .no6 {margin-left: 0;}
.chaSlide .slider-nav .item {width:121px !important; height: 121px; background:url('../images/chaThumbAll.png') no-repeat; cursor:pointer;}
.chaSlide .slider-nav .item.no2 {background-position:-133px 0;}
.chaSlide .slider-nav .item.no3 {background-position:-266px 0;}
.chaSlide .slider-nav .item.no4 {background-position:-399px 0;}
.chaSlide .slider-nav .item.no5 {background-position:-532px 0;}
.chaSlide .slider-nav .item.no6 {background-position:-665px 0;}
.chaSlide .slider-nav .item.no7 {background-position:-798px 0;}
.chaSlide .slider-nav .item.no8 {background-position:-931px 0;}
.chaSlide .slider-nav .item.no9 {background-position:-1064px 0;}
.chaSlide .slider-nav .item.no10 {background-position:-1197px 0;}
.chaSlide .slider-nav .slick-current.item {background-position-y:-132px;}
.chaSlide .slider-nav * { outline:none;}


.popSlide {position: fixed; left:0; top:0; width: 100%; height: 100%; z-index: 0; opacity:0; visibility:hidden;}
.popSlide .bg { position: fixed; left:0; top:0; width: 100%; height: 100%; z-index: 1; background:rgba(0,0,0,.53);}
.popSlide .popIn {position:absolute; left:50%; top:50%;  width: 720px; height: 769px; margin:-385px 0 0 -360px; background:url('../images/popSlideBg.png') no-repeat;   text-align: center;z-index: 3; }
.popSlide .popIn .closeBtn {position: absolute; right:34px; top:64px;}
.popSlide .popIn .closeBtn a {display: block; width:43px; height: 41px; background:url('../images/btnClose.png') no-repeat; text-indent:-999em;  }
.popSlide .popIn .tabSlideWrap {width: 683px; margin:0 auto; padding-top: 140px;}
.popSlide .popIn .tabSlideWrap .sliderPop {margin-bottom: 89px;}
.popSlide .popIn .tabSlideWrap .sliderPop .slick-list {height: 344px !important;}
.popSlide .popIn .slick-vertical .slick-slide {height: 344px !important;}
.popSlide .popIn .tabSlideWrap .slider-navPop .slick-track {width: 100% !important; transform:none !important}
.popSlide .popIn .tabSlideWrap .slider-navPop .slick-slide {margin-left:2px; width: 152px !important; height:85px; ; background:url('../images/mkThumb.png') no-repeat; outline:none; cursor:pointer;}
.popSlide .popIn .tabSlideWrap .slider-navPop .slick-slide:first-child {margin-left: 0;}
.popSlide .popIn .tabSlideWrap .slider-navPop .slick-slide.no2 {background-position-x:-154px;}
.popSlide .popIn .tabSlideWrap .slider-navPop .slick-slide.no3 {background-position-x:-308px;}
.popSlide .popIn .tabSlideWrap .slider-navPop .slick-slide.no4 {background-position-x:-462px;}
.popSlide .popIn .tabSlideWrap .slider-navPop .slick-slide.slick-current  {background-position-y:-95px;}
.popSlide .popIn .tabSlideWrap .box:first-child {opacity:1; visibility:visible; position: relative;}
.popSlide .popIn .tabSlideWrap .box {position: absolute; width:614px; height: 100%; margin: 0 auto;}


.popSlide .slick-arrow {position: absolute; left: 50%; margin-left:-31px;  width: 62px; height: 37px; cursor:pointer; border:none; text-indent:-999em;}
.popSlide .slick-arrow.slick-prev {top: -62px; background:url('../images/slideLeft.png') no-repeat;}
.popSlide .slick-arrow.slick-next {bottom:-57px; background:url('../images/slideRight.png') no-repeat;} 

.popSlide .popIn .arrowSlide {position: absolute; left:0; width: 100%; top:310px;}
.popSlide .popIn .arrowSlide > div {position: absolute; top:0; width: 25px; height: 41px; cursor:pointer;}
.popSlide .popIn .arrowSlide > div.left {left:100px; background:url('../images/slideLeft.png') no-repeat;}
.popSlide .popIn .arrowSlide > div.right {right:110px; background:url('../images/slideRight.png') no-repeat;}


.quizWrap  {text-align: left;}
.quizWrap .bookProduct {position: absolute; left:-518px; top:0;  transition:.8s all;}
.quizWrap .tong {position: absolute; left:380px; bottom:-250px;  transition:.8s all; transform:rotate(20deg);}
.quizWrap .map {position: absolute; right:-600px; bottom:-220px; transition:.8s all; transform:rotate(-20deg);}
.quizWrap .quizLight {position: absolute; right: 0; top: -18px; z-index: 21;}
.quizWrap .gameEvent {}
.quizWrap .gameEvent .infoTit {margin: 69px 0 28px 40px;}
.quizWrap .gameEvent .quizItem {text-align: center;}
.quizWrap .gameEvent ul {position: relative; /*height: 404px;*/ margin-bottom: 26px;}
/*.quizWrap .gameEvent ul li {position: absolute; left:-22px; top:-36px; width: 311px; height: 470px; padding:300px 0 0 60px; transition:.8s all; opacity:0;}*/
.quizWrap .gameEvent ul li {width: 720px; height: 281px; padding:80px 0 0 495px; transition:.8s all;}
.quizWrap .gameEvent ul li.no1 {background:url('../images/event01_list01.png') no-repeat; left:100px; }
.quizWrap .gameEvent ul li.no2 {background:url('../images/event01_list02.png') no-repeat; left:343px; transition-delay:200ms;}
.quizWrap .gameEvent ul li.no3 {background:url('../images/event01_list03.png') no-repeat;  left:608px; transition-delay:400ms;}
.quizWrap .gameEvent ul li.no3:after {content:""; width: 100%; height: 30px; display: block; position: absolute; left: 0; bottom: -30px; background: url('../images/event01_list03_shadow.png') no-repeat;}
.quizWrap .gameEvent ul li .line {position: relative; margin-bottom: 9px; padding-bottom: 15px; width: 177px;}
.quizWrap .gameEvent ul li .line:before {content:''; position: absolute; top: -11px; left:0; bottom:0; width:100%; height: 3px; background: url('../images/lbLine.png') no-repeat;}
.quizWrap .gameEvent ul li .line:first-child:before {display: none;}
.quizWrap .gameEvent ul li .line input {position: absolute; visibility:hidden;}
.quizWrap .gameEvent ul li .line label {position: relative; padding-left: 59px;}
.quizWrap .gameEvent ul li .line label:after {content:''; position: absolute; left:3px; top:0; width:35px; height: 35px; background:url('../images/bgCheck2.png') no-repeat;}
.quizWrap .gameEvent ul li .line input:checked + label:after {background:url('../images/bgCheckOn2.png') no-repeat;}
.quizWrap .gameEvent .btnQuiz {text-align: center; margin-bottom: 39px;}
.quizWrap .gameEvent .lastInfo {text-align: center;}
.step4 .quizWrap .bookProduct {left:118px;}
.step4 .quizWrap .tong {bottom:0px; transform:rotate(0deg);}
    
 
.instarWrap { }
.instarWrap .map {position: absolute; left:-653px; bottom:-250px; transition:.8s all; transform:rotate(20deg); }
.instarWrap .muk {position: absolute; left:300px;top:-200px; transition:.8s all; transform:rotate(-20deg);}
.instarWrap .event2Wrap {padding-top: 175px;}
.instarWrap .event2Wrap .tit {position: relative; /*transition:.8s all; opacity:0; top:100px;*/ }
.instarWrap .event2Wrap .tit.no1 {text-align: right;}
.instarWrap .event2Wrap .tit.no2 {transition-delay:200ms; padding-left: 42px; margin-top: 22px; margin-bottom: 14px;}
.instarWrap .event2Wrap .tit.no3 {transition-delay:400ms; padding-left: 10px;}
.instarWrap .event2Wrap .btnCafeGo {}
	
.copy {margin-top: 41px;}

       
/* Slide */
.slideBox {position: relative; text-align: center; font-size: 20px;}
.slideBox li {height: 100px; line-height: 100px; font-size: 30px;  background:#d4eeaf;}
.slideBox .bx-controls-direction a{position: absolute; top:15%;  background:#fff; z-index: 100; }
.slideBox .bx-controls-direction a.bx-prev {left:10px; }
.slideBox .bx-controls-direction a.bx-next {right:10px;}
.slideBox .bx-controls-direction a.disabled {opacity:.3; cursor:default;}
.slideBox .bx-controls-auto div {display: inline-block; margin:0 30px;}
.slideBox .bx-pager  {padding:10px 0;}
.slideBox .bx-pager > div {display: inline-block; margin:0 10px;}
.slideBox .bx-pager > div a {display: inline-block; border-radius:100%; background: #fff; width: 30px; height: 30px; line-height: 30px;}
.slideBox .bx-pager > div.active a {background:#666; color:#fff;}

/* scroll */
.scrollBox {position: relative; height: 500px; width: 500px; font-size:20px; }
.scroller { position: absolute; padding:0; z-index: 1; -webkit-tap-highlight-color: rgba(0,0,0,0); width: 100%;}
#scroll { position: absolute; z-index: 1; top: 0; bottom: 0; left: 0; width: 100%; overflow: hidden; }
.iScrollVerticalScrollbar {width:8px !important; background:#999; right:6px !important;  top:0 !important;   bottom:0 !important;  border-radius:7px !important;  }
.iScrollIndicator {background:#333 !important; border-radius:7px !important; border:none !important;}
.navScroll {position: absolute; right:-250px; top:0; text-align: center;}

/* Alert */
#popupAlert {position: fixed; left:0; top:0; width: 100%; height: 100%; z-index: 500; display: none;}
#popupAlert .bg { position: fixed; left:0; top:0; width: 100%; height: 100%; z-index: 1; background:rgba(0,0,0,.8);}
#popupAlert .popIn {position:absolute; left:0; top:50%;    min-width:100px; width: 100%;  box-sizing:border-box;  z-index:2;  visibility:hidden; text-align: center; }
#popupAlert .popIn .closePop {position: absolute; right:-30px; top:-30px;}
#popupAlert .popIn .closePop a {display: block; width:66px; height: 66px;  line-height: 66px;background:#fff; border:1px solid #000;  }
#popupAlert .popIn .cell {display: inline-block; background:#2ea0d6;  width:720px; position: relative;}
#popupAlert .popIn .verCenter {display:table;   height: 250px; width: 100%; text-align: center; }
#popupAlert .popIn .verCenter .alertText {display:table-cell;  font-size: 38px; vertical-align: middle; color:#ffffff;  padding:0 10px; }
#popupAlert .popIn .btnWrap {padding-bottom: 20px;}
#popupAlert .popIn .btnWrap a{display: inline-block; padding:10px 30px; border:1px solid #000; background:#fff; font-size: 20px;}
.btnNone .btnWrap {display: none;}

/* youtube Popup */
.youtubePop {position: fixed; left:0; top:0; width: 100%; height: 100%; z-index: 0; display: none; z-index: 500;}
.youtubePop .bg { position: fixed; left:0; top:0; width: 100%; height: 100%; z-index: 1; background:rgba(0,0,0,.53);}
.youtubePop .popIn {position:absolute; left:50%; top:50%;  width: 720px; height: 648px; margin:-324px 0 0 -360px; background:url('../images/popMovieBg.png') no-repeat;   text-align: center;z-index: 3; }
.youtubePop .popIn .youtubeCont {padding-top: 150px;}
.youtubePop .popIn .youtubeCont #youtubeMovie {background: #000; display: inline-block;}
.youtubePop .popIn .youtubeCont iframe{width: 650px; height: 370px;}
.youtubePop .popIn .closeBtn {position: absolute; right:40px; top:80px;}
.youtubePop .popIn .closeBtn a {display: block; width:43px; height: 41px; background:url('../images/btnClose.png') no-repeat; text-indent:-999em;  }


/* Alert */
.contentPop {position: fixed; left:0; top:0; width: 100%; height: 100%; z-index: 500; display: none;}
.contentPop .bg { position: fixed; left:0; top:0; width: 100%; height: 100%; z-index: 1; background:rgba(0,0,0,.53);}
.contentPop .popIn {position:absolute; left:0; top:50%;    min-width:100px; width: 100%;  box-sizing:border-box;  z-index:2;  visibility:hidden; text-align: center; }
.contentPop .popIn .closePop {position: absolute; right:44px; top:40px;}
.contentPop .popIn .closePop a {display: block; width:43px; height: 41px; background:url('../images/btnClose.png') no-repeat; text-indent:-999em;  }
.contentPop .popIn .content {display: inline-block; position: relative;}
.contentPop .popIn .content .bgAlert {background:url('../images/bgPop.png') no-repeat; height: 339px; width: 720px; text-align: center; padding-top: 100px;}
.contentPop .popIn .btnWrap {position: absolute; left:0; bottom:18px; width: 100%; text-align: center;}
.contentPop .popIn .btnWrap a{display: inline-block; width: 450px; height: 65px; background:url('../images/btnConfirm.png') no-repeat; text-indent:-999em;}

.contentPop .popIn .content .bgAlert.cont02 {padding-top:57px;}
.contentPop .popIn .content .bgAlert.cont02 .form {padding-top:20px;}
.contentPop .popIn .content .bgAlert.cont02 .form input {border:none; width: 608px; text-align: center;background:#a1998e; height: 65px; color:#fff; font-size: 37px; }


