@charset "utf-8";

#business .inner {padding: 0 2%;}

body.subPage .mainBgPal {opacity: 0.05;}
body.subPage .mainBgPal.circle {opacity: 1; margin: 50vh 0px 0px -60vw;}
section.subContent {padding-top: 280px;}
section.subContent .container {max-width: 1600px; margin: 0 auto;}

.slideUp {transform: translateY(30%);}
.on.slideUp {animation: slideInUp .8s linear both;}

.titWrap {position: relative;}
.titWrap h2 {padding-bottom: 30px; font-size: 65px; font-weight: bold;  line-height: 1.26; letter-spacing: -1px; transition: all .3s; word-break: keep-all;}
.titWrap .scrollAni2 {font-size: 23px; line-height: 1.52;  color: #000; font-weight: 400; transition: all .3s; word-break: keep-all;}

.floatCnt:after {content:""; display: block; clear: both;}
.floatCnt > div {float: left;}
.floatCnt > div:nth-child(even) {float: right;}

.typewriter-effect {}
.typewriter-effect .text {opacity :0;}

.miniTit {position: absolute; top: 0; left: -133px;  transform: rotate(-90deg) translate3d(16%, 0, 0); transform-origin: bottom right; letter-spacing: 1px; font-size: 32px; color: #000; font-weight: bold; transition: all .3s;}
.miniTit span {display: inline-block; vertical-align: middle;}
.miniTit small {font-size: 14px; vertical-align: middle; display: inline-block;}


#business .layer.no1 .titWrap {padding-left: 6vw;}
#business .layer.no1 .titWrap h2 {padding-bottom: 20px;}
#business .layer.no1 .titWrap .scrollAni2 {width: 47%; padding: 55px 0 100px; margin-left: auto; transform: translateY(20%);}


#business .layer.no1 ol {}
#business .layer.no1 ol:after {content:""; display: block; clear: both;}
#business .layer.no1 ol > li {float: left; margin-bottom: 48px;}
#business .layer.no1 ol > li:nth-child(odd) {width: 60%;}
#business .layer.no1 ol > li strong {display: block; font-size: 28px; font-weight: bold;line-height: 1.43;}
#business .layer.no1 ol > li small {border-bottom: 2px solid #000; font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: bold;}
#business .layer.no1 ol.smallList > li strong {display: block;}

#business .layer.no2 ul {width: 1210px; margin-left: auto; padding-bottom: 250px;}
#business .layer.no2 li {padding: 130px 0 80px; border-bottom: 1px solid rgba(64,64,64,0.5);}
#business .layer.no2 li:first-child {padding-top: 0;}
#business .layer.no2 li h3 {padding-bottom: 34px;}
#business .layer.no2 li h3 small {margin-right: 10px; display: inline-block; vertical-align: middle; margin-top: -25px; border-bottom: 2px solid #000; font-size: 23px; font-family: 'Roboto', sans-serif; font-weight: bold;}
#business .layer.no2 li h3 strong {font-size: 58px; line-height: 1;}
#business .layer.no2 li p {width: 950px; margin-left: auto; line-height: 1.74; font-size: 23px; color: #404040; }

#business .midCntWrap {padding: 260px 0 300px; background: #07111d;}
#business .midCntWrap .titWrap {color: #d7e9f8 !important;}
#business .midCntWrap .miniTit {color: #d7e9f8 !important; left: -218px;}
#business .midCntWrap .titSubWrap {padding-top: 170px; color: #86a2b9;}
#business .midCntWrap .titSubWrap ul { }
#business .midCntWrap .titSubWrap li {width: 950px;  margin-left: auto;padding: 80px 0 30px; border-bottom: 1px solid rgba(215,233,248,0.2); }
#business .midCntWrap .titSubWrap li:first-child {padding-top: 0;}
#business .midCntWrap .titSubWrap h3 {font-family: Roboto; font-size: 48px; font-weight: bold; line-height: 2.08;}
#business .midCntWrap .titSubWrap p {font-size: 18px; line-height: 1.56;}


@media screen and (max-width: 1600px) {
    .miniTit {font-size: 2vw; left: -5.6vw;}

    #business .inner {padding: 0 60px;}

    #business .layer.no1 .titWrap {padding-left: 12vw; padding-right: 6vw;}

    #business .layer.no2 ul {width: 85%;}

    #business .midCntWrap .titSubWrap ul {width: 85%; margin-left: auto;}
    #business .midCntWrap .miniTit {left: -10.6vw;}
}

@media screen and (max-width: 1300px) , (max-height :900px) {
    .titWrap h2 {font-size: 5vw; letter-spacing: -3px;}
    .titWrap .scrollAni2 {font-size: 1.9vw;}

    #business .layer.no1 ol > li strong {font-size: 24px;}

    #business .layer.no2 ul {padding-bottom: 200px;}
    #business .layer.no2 li h3 strong {font-size: 4.5vw;}
    #business .layer.no2 li p {font-size: 18px; width: 90%;}

    #business .midCntWrap .titSubWrap li {width: 90%;}
    #business .midCntWrap .titSubWrap h3 {font-size: 3.7vw;}
    #business .midCntWrap .titSubWrap p {font-size: 16px;}

}

@media screen and (max-width: 1024px), (max-height :800px) {
    #business .inner {padding: 0 40px;}

    #business .layer.no1 ol > li strong {font-size: 2.2vw;}

    #business .layer.no2 li {padding: 90px 0 50px;}
    #business .layer.no2 li p {font-size: 15px;}

    #business .midCntWrap .titSubWrap {padding-top: 100px; }

}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 768px) {

    .miniTit {transform: rotate(0) translate3d(0%, -50px, 0); left: 0 !important; font-size: 18px;}
    .miniTit small {font-size: 10px;}

    .titWrap h2 {font-size: 42px;}
    .titWrap .scrollAni2 {font-size: 17px;}

    #business .titWrap .scrollAni2:last-child {width: 70%; }

    #business .layer.no1 {padding: 0 40px;}
    #business .layer.no1 .titWrap {padding:0;}
    #business .layer.no1 .titWrap .scrollAni2{width: 70%; padding: 55px 0 70px;}
    #business .layer.no1 ol > li strong {font-size: 2.6vw;}

    #business .layer.no2 ul {width: 100%; margin-left: 0; padding-bottom: 150px;}
    #business .layer.no2 li {padding: 50px 0px;}
    #business .layer.no2 li p {font-size: 13px; width: 100%;}

    #business .midCntWrap {padding: 160px 0 190px; width: 100%; margin-left: 0;}
    #business .midCntWrap .titSubWrap {padding-top: 60px;}
    #business .midCntWrap .titSubWrap ul {width: 100%; margin-left: 0;}
    #business .midCntWrap .titSubWrap li {padding: 50px 0 30px; width: 100%;}
    #business .midCntWrap .titSubWrap h3 {font-size: 23px;}
    #business .midCntWrap .titSubWrap p {font-size: 12px;}
}

/* 모바일 미디어쿼리 */

@media screen and (max-width: 480px) {
    #business .inner {padding: 0 30px;}

    .miniTit {transform: rotate(0) translate3d(0%, -50px, 0); font-size: 16px;}

    .titWrap h2 {font-size: 30px; letter-spacing: -1.5px;}
    .titWrap .scrollAni2 {font-size: 14px;}



    #business .layer.no1 {padding: 0 30px;}

    #business .layer.no2 li {padding: 35px 0;}


    #business .titWrap .scrollAni2:last-child {width: 80%;}


}
