@charset "utf-8";

.miniTit {left: -133px;  transform: rotate(-90deg) translate3d(16%, 0, 0);}

#business .layer.no1 .titWrap {padding-left: 6vw;}
#business .layer.no1 .titWrap h2 {padding-bottom: 20px;}
#business .layer.no1 .titWrap .scrollAni2 {width: 47%; padding: 55px 0 100px; margin-left: auto; transform: translateY(20%);}


#business .layer.no1 ol {}
#business .layer.no1 ol:after {content:""; display: block; clear: both;}
#business .layer.no1 ol > li {float: left; margin-bottom: 48px;}
#business .layer.no1 ol > li:nth-child(odd) {width: 60%;}
#business .layer.no1 ol > li strong {display: block; font-size: 28px; font-weight: bold;line-height: 1.43;}
#business .layer.no1 ol > li small {border-bottom: 2px solid #000; font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: bold;}
#business .layer.no1 ol.smallList > li strong {display: block;}

#business .layer.no2 ul {width: 1210px; margin-left: auto; padding-bottom: 250px;}
#business .layer.no2 li {padding: 130px 0 80px; border-bottom: 1px solid rgba(64,64,64,0.5);}
#business .layer.no2 li:first-child {padding-top: 0;}
#business .layer.no2 li h3 {padding-bottom: 34px;}
#business .layer.no2 li h3 small {margin-right: 10px; display: inline-block; vertical-align: middle; margin-top: -25px; border-bottom: 2px solid #000; font-size: 23px; font-family: 'Roboto', sans-serif; font-weight: bold;}
#business .layer.no2 li h3 strong {font-size: 58px; line-height: 1;}
#business .layer.no2 li p {width: 950px; margin-left: auto; line-height: 1.74; font-size: 23px; color: #404040; }

#business .midCntWrap {padding: 260px 0 300px; background: #07111d;}
#business .midCntWrap .titWrap {color: #d7e9f8 !important;}
#business .midCntWrap .miniTit {color: #d7e9f8 !important; left: -218px;}
#business .midCntWrap .titSubWrap {padding-top: 170px; color: #86a2b9;}
#business .midCntWrap .titSubWrap ul { }
#business .midCntWrap .titSubWrap li {width: 950px;  margin-left: auto;padding: 80px 0 30px; border-bottom: 1px solid rgba(215,233,248,0.2); }
#business .midCntWrap .titSubWrap li:first-child {padding-top: 0;}
#business .midCntWrap .titSubWrap h3 {font-family: Roboto; font-size: 48px; font-weight: bold; line-height: 2.08;}
#business .midCntWrap .titSubWrap p {font-size: 18px; line-height: 1.56;}

/* 미디어쿼리 */
@media screen and (max-width: 1600px) {
    .miniTit {left: -5.6vw;}

    #business .layer.no2 ul {width: 85%;}

    #business .midCntWrap .titSubWrap ul {width: 85%; margin-left: auto;}
    #business .midCntWrap .miniTit {left: -10.6vw;}
}

@media screen and (max-width: 1300px) , (max-height :900px) {
    #business .layer.no1 ol > li small {font-size:17px;}
    #business .layer.no1 ol > li strong {font-size: 24px;}

    #business .layer.no2 ul {padding-bottom: 200px;}
    #business .layer.no2 li h3 small {font-size: 2vw;}
    #business .layer.no2 li h3 strong {font-size: 4.5vw;}
    #business .layer.no2 li p {font-size: 18px; width: 90%;}

    #business .midCntWrap .titSubWrap li {width: 90%;}
    #business .midCntWrap .titSubWrap h3 {font-size: 3.7vw;}
    #business .midCntWrap .titSubWrap p {font-size: 16px;}

}

@media screen and (max-width: 1024px), (max-height :800px) {
    #business .layer.no1 ol > li small {font-size:1.8vw;}
    #business .layer.no1 ol > li strong {font-size: 2.2vw;}

    #business .layer.no2 li {padding: 90px 0 50px;}
    #business .layer.no2 li p {font-size: 15px;}
    #business .layer.no2 li h3 small {margin-top: 0;}
    #business .layer.no2 li h3 strong {display: inline-block; vertical-align: middle;}

    #business .midCntWrap .titSubWrap {padding-top: 100px; }

}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 768px) {
    #business .titWrap .scrollAni2:last-child {width: 70%; }

    #business .layer.no1 {padding: 0 40px;}
    #business .layer.no1 .titWrap {padding:0;}
    #business .layer.no1 .titWrap .scrollAni2{width: 80%; padding: 55px 0 70px;}
    #business .layer.no1 ol > li small {font-size:13px;}
    #business .layer.no1 ol > li strong {font-size: 18px;}

    #business .layer.no2 ul {width: 100%; margin-left: 0; padding-bottom: 150px;}
    #business .layer.no2 li {padding: 50px 0px;}
    #business .layer.no2 li h3 small {font-size: 13px;}
    #business .layer.no2 li h3 strong {font-size: 28px;}
    #business .layer.no2 li p {font-size: 13px; width: 100%;}

    #business .midCntWrap {padding: 160px 0 190px; width: 100%; margin-left: 0;}
    #business .midCntWrap .titSubWrap {padding-top: 60px;}
    #business .midCntWrap .titSubWrap ul {width: 100%; margin-left: 0;}
    #business .midCntWrap .titSubWrap li {padding: 50px 0 30px; width: 100%;}
    #business .midCntWrap .titSubWrap h3 {font-size: 23px;}
    #business .midCntWrap .titSubWrap p {font-size: 12px;}
}

/* 모바일 미디어쿼리 */

@media screen and (max-width: 480px) {
    #business .inner {padding: 0 30px;}


    #business .layer.no1 {padding: 0 30px;}
    #business .layer.no1 .titWrap .scrollAni2{width: 90%;}
    #business .layer.no1 ol > li small {font-size:2.9vw;}
    #business .layer.no1 ol > li strong {font-size: 3.6vw;}

    #business .layer.no2 li {padding: 35px 0;}


    #business .titWrap .scrollAni2:last-child {width: 80%;}


}
