@charset "utf-8";

/* common */
body {font-family:'Noto Sans KR', sans-serif; overflow-x: hidden; letter-spacing: -0.5px;}
.inner:after {content:""; display: block; clear: both;}
img {max-width: 100%;}

.mVisible {display: none;}
body.mobilebody .mVisible {display: block;}
body.mobilebody .mNone {display: none;}

.page {width: 100%; height: 100vh; position: relative;}
.subpage {width: 100%; height: 100vh; position: relative;}

.ani{ z-index:1;opacity: 0;opacity:1 \0/IE9;}


/*load*/
#loader-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000; display: table;}
#loader-wrapper #loader-container{display: table-cell; position: relative; z-index: 999; vertical-align: middle; width: 100%; height: 100%; text-align: center; -webkit-transition:opacity .6s ease-out;transition:opacity .6s ease-out;}
#loader-wrapper.fadeout #loader-container{opacity:0;-webkit-transition:opacity .6s ease-out;transition:opacity .6s ease-out}
#loader-wrapper #loader-container .logo {animation: rotation 2s infinite linear;}

@keyframes rotation {from {transform: rotate(0deg);}to {transform: rotate(359deg);}}
#loader-container p img {max-width: 154px;}
#loader-wrapper .circle {position:absolute;border-radius:50%; top:-150%;left:-150%;width:300%;height:300%;background-color:#2648a3;animation:top 3.1s .6s cubic-bezier(.63,.14,.47,.9) both;}

@keyframes top{to{transform:translate(-100%, -100%)}}

.loaded #loader-wrapper{visibility:hidden;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transition:all .3s 1s ease-out;transition:all .3s 1s ease-out}
.no-js #loader-wrapper{display:none}
.loader-circle{margin-top: -70px; margin-left: -70px; width:140px;height:140px;border-radius:50%;box-shadow:inset 0 0 0 1px rgba(255,255,255,.1)}
.loader-line-mask{margin-top: -70px; margin-left: -70px; width:70px;height:140px;-webkit-transform-origin:70px 70px;-moz-transform-origin:70px 70px;-ms-transform-origin:70px 70px;-o-transform-origin:70px 70px;transform-origin:70px 70px;-webkit-mask-image:-webkit-linear-gradient(top,#000,rgba(0,0,0,0));-webkit-animation:rotate 1.2s infinite linear;-moz-animation:rotate 1.2s infinite linear;-ms-animation:rotate 1.2s infinite linear;-o-animation:rotate 1.2s infinite linear;animation:rotate 1.2s infinite linear;}
.loaded .loader-line-mask{-webkit-animation:none!important;-moz-animation:none!important;-ms-animation:none!important;-o-animation:none!important;animation:none!important}
.loader-line-mask .loader-line{width:140px;height:140px;border-radius:50%;box-shadow:inset 0 0 0 1px rgba(255,255,255,.5)}
.loader-svg{transform:translate(-50%,-50%)}
.scrollable{-webkit-overflow-scrolling:touch}
body {overflow: hidden;}
body.loaded {overflow-y: scroll;}

/* main */
html,body {height: 100%; overflow-x: hidden;  width: 100%;}
body.onePage {overflow-y:hidden !important}
#viewport {position: relative; width: 100%; height: 100%; display: block; height: 100%;}
body.onePage section {height: 100%;}

body.onePage .container {display: table; table-layout: fixed; width: 100%; height: 100%; position: relative; z-index: 5; padding-left: 0;}
body.onePage .contents {
    display: table-cell; width: 100%; height: 100%;
}

.main {position: relative; overflow: hidden;}
.main .btnGoContact {position: fixed; top: 400px; right: -100%; text-align: center; line-height: 76px;width: 260px; height: 76px; display: inline-block; background-color: #2648a3; color: #ffffff; font-size: 20px; transform: rotate(-90deg) translate3d(100%, 0, 0); transform-origin: bottom right;  transition: all .5s;}
body.on .main .btnGoContact {right: 0; transition-delay: .3s;}

.main .visual01 h2 {font-size: 64px; line-height: 1.2; font-weight: 100;  transition: all .3s; animation: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) .3s 1 normal both running focus-in-contract;}
.main .visual01 h2 strong {font-weight: 900;}
.main .visual01 p {padding-top: 53px; font-size: 54px; font-weight: 300; line-height: 1.5; text-align: right; font-family: 'Roboto', sans-serif;  transition: all .3s; animation: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) .8s 1 normal both running focus-in-contract;}

.main .title {width: 100%; height: 100%;}
.main .title h2 {transform: translateY(-50%);  font-size: 5.3vw;line-height: 1.31; font-weight: 100; position: absolute; transition: all .3s;}
.main .title h2:nth-child(1) {left: 360px; /*left:18vw;*/ top: 16vh;}
.main .title h2:nth-child(2) {right: 164px;/*right:8vw;*/ top: 54vh; text-align: right;}
body.on .main .title h2 {animation: slideInUp .6s linear both;}
body.on .main .title h2:nth-child(1) {animation-delay: 5.8s;}
body.on .main .title h2:nth-child(2) {animation-delay: 6.4s;}

/* cursor */
.cursor {width: 27px; height: 27px; opacity: 0; background-color: #2648a3; position: fixed; border-radius: 50%; pointer-events: none; z-index: 100; transition: all .3s;}
.cursor::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -82px;
    margin-left: -77px;
    width: 154px;
    height: 164px;
    background-image: url('../images/cursor_stop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: circularMotion 10s linear infinite;
    transform-origin: 50% 50%;
    transition: opacity .5s;
    opacity: 0;
}
.cursor.stop::before {
    opacity: 1;
}
.cursor.hover{width:80px;height:80px;opacity:0.4 !important;background-color:#bedeff;transform:scale(2);}
.cursor.hover::before {display: none;}

/* mainGnb */
.mainGnb {position: fixed; left: 51px; top: 170px; z-index: 10; transition: all .7s ease-in; transform: translateX(-200%);}
.mainGnb .gnbMenu .menu-item {font-size: 45px; line-height: 1.31;}
.mainGnb .gnbMenu .menu-item .numbering { font-size: 12px; line-height: 58px; color: #000; }
.mainGnb .gnbMenu .grayed {color: #000; opacity: 0.5;}
.mainGnb .gnbMenu .menu-item:hover .grayed {color: #000; -webkit-transform: translate3d(28px, 0, 0); transform: translate3d(28px, 0, 0); }
.mainGnb .gnbSubMenu {padding-top: 30px; font-family: 'Lateef', sans-serif;}
.mainGnb .gnbSubMenu li:last-child {padding-top: 5px;}
.mainGnb .gnbSubMenu li a{ opacity: 0.5; color: #000; font-size: 18px; line-height: 1; font-weight: bold;}
.mainGnb .gnbSubMenu li:hover a{color: #000; opacity: 1; transform: all .3s;}
body.on .mainGnb {animation: slideInLeft .7s 5.2s ease-in-out both; }

/* main bg */
.mainBgWrap {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.mainBg {position: absolute; bottom: -20%; left: 30%; display: inline-block; transition: all .3s;
     opacity: 0; transform-origin:25% 25%; width: 30%; height: 30%;}
body.on .mainBg {animation: mainBg 5s linear; animation-delay: .3s;}
.mainBgPal {opacity: 0;}
body.on .mainBgPal {animation: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 1 normal both focus-in-contract; animation-delay: 5.2s;}

@keyframes mainBg {
    0% { transform: rotate(0deg);}
    /*95% {opacity: 0.05; transform: scale(1) rotate(320deg) translate(0%,80%);}*/
    50% {opacity: 0.2; width: 90%; height: 90%;  }
    100% {opacity: 0; transform: rotate(360deg); width: 30%; height: 30%;}
}

@keyframes circularMotion {100% {transform: rotate(360deg);}}
@-webkit-keyframes circularMotion {100% {transform: rotate(360deg);}}
@-moz-keyframes circularMotion {100% {transform: rotate(360deg);}}
@-o-keyframes circularMotion {100% {transform: rotate(360deg);}}
@keyframes circularMotion {100% {transform: rotate(360deg);}}

@keyframes slideInUp {
    100%{transform: translateY(0);opacity: 1;}
}

@keyframes slideInLeft {
    100%{transform: translateX(0);opacity: 1;}
}

@keyframes focus-in-contract{
    0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}
    to{-webkit-filter:blur(0);filter:blur(0);opacity:0.08;}
}

@keyframes scrollBottom {
    0% { opacity: 1; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(20px); }
}

@keyframes sizeChange {
    0% {width: 0; opacity: 0;}
    100% {width: 60vw; opacity: 1;}
}

@keyframes afterView {
    0% {opacity: 0;}
    100% { opacity: 1; }
}


/* 랩탑 미디어쿼리 */
@media screen and (min-width: 1500px) {
    .main .title h2{font-size: 80px;}
    .mainBgPal {width: 130%;}
}

@media screen and (max-width: 1300px) , (max-height :900px) {
    .main .title h2:nth-child(1) {left: 280px;}
    .main .title h2:nth-child(2) {right: 100px;}
}

@media screen and (max-height :850px) {
}

@media screen and (max-width: 1024px), (max-height :800px) {
    .mainBgPal {width: 130%;}
    .mainGnb {bottom: 100px; top: auto;}
    .mainGnb .gnbMenu .menu-item {font-size: 38px;}
    .main .title h2:nth-child(1) {left: 10vw;}
    .main .title h2:nth-child(2) {right: 7.5vw;}
    .main .btnGoContact {width: 205px; height: 63px; font-size: 16px; line-height:63px; top: 320px;}

    .main .title h2 {transform: translateX(-50%);}
    body.on .main .title h2 {animation: slideInLeft .4s linear both;}

    @keyframes sizeChange {
        0% {width: 0; opacity: 0;}
        100% {width: 65%; opacity: 1;}
    }
}

@media screen and (max-width: 1024px) {

}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 768px) {
    body .mVisible {display: block;}
    body .mNone {display: none;}
    #loader-container p img {width: 30vw;}
    .mainGnb {left: 20px; bottom: 20px; width: calc(100% - 20px);}
    .main .title h2 {font-size: 7vw;}
    .main .title h2:nth-child(1) {left: 7.5vw;}
    .mainGnb .gnbMenu .menu-item {font-size: 32px;}
    .mainGnb .gnbSubMenu {position: fixed; right: 20px; bottom: 5px; transition: all .3s;}
    .mainGnb .gnbSubMenu li a {font-size: 16px;}
    .main .btnGoContact {width: 155px; height: 50px; font-size: 12px; line-height:50px; top: 250px;}
    .mainBg {bottom: -70%; left: 20%;}
    .mainBgPal {width: 180%;}
    @keyframes mainBg {
        0% { transform: rotate(0deg);}
        /*95% {opacity: 0.05; transform: scale(1) rotate(320deg) translate(0%,80%);}*/
        50% {opacity: 0.2; width: 150%; height: 150%;  }
        100% {opacity: 0; transform: rotate(360deg); width: 70%; height: 70%;}
    }
}

/* 모바일 미디어쿼리 */

@media screen and (max-width: 480px) {
    .mainGnb .gnbMenu .menu-item {font-size: 27px;}
    .mainBgPal {width: 230%; margin-left: -20%;}
    .main .title h2 {font-size: 30px;}
    .main .title h2:nth-child(2) {top: 47vh;}

    @keyframes mainBg {
        0% { transform: rotate(0deg);}
        /*95% {opacity: 0.05; transform: scale(1) rotate(320deg) translate(0%,80%);}*/
        50% {opacity: 0.2; width: 240%; height: 240%;  }
        100% {opacity: 0; transform: rotate(360deg); width: 100%; height: 100%;}
    }

}
