@charset "utf-8";

.miniTit {left: -173px;  transform: rotate(-90deg) translate3d(16%, 0, 0); }

#philosophy .bgAniWrap {position: relative;}
#philosophy .bg {display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: linear-gradient(180deg, #fff 18%, #2648a3 37%); opacity: 0; transition: opacity 1s linear; z-index: -1;}

#philosophy .titWrap .scrollAni2:last-child {width: 50%;}

#philosophy .line {width: 1px; height: 420px; margin: 200px auto 0; position: relative; transition: all 1s; transition-delay: .5s;}
#philosophy .line span {position: absolute; width: 1px; height: 0; background: #000; transition: all 1s; /*transition-delay: .5s;*/ opacity: 0;}
#philosophy .line.on span {height: 100%; opacity: 1; background: #1e4ed1;}

#philosophy .layer.no1 .titWrap {padding-left: 6vw;}
#philosophy .layer.no1 .titWrap h2 {padding-bottom: 20px;}
#philosophy .layer.no1 .titWrap .scrollAni2:last-child {padding: 55px 0 160px; margin-left: auto;}
#philosophy .titSubWrap {text-align: center;}
#philosophy .layer.no2 {text-align: center;}
#philosophy .layer.no2 .titWrap {padding: 250px 0 100px;}
#philosophy .layer.no2 .titWrap small {font-size: 23px;}
#philosophy .layer.no2 .titWrap .scrollAni2{margin: 30px auto;}

/* 미디어쿼리 */
@media screen and (max-width: 1600px) {
    .miniTit {left: -8.2vw;}
}

@media screen and (max-width: 1300px) , (max-height :900px) {
}

@media screen and (max-width: 1024px), (max-height :800px) {
}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 768px) {
    #philosophy .titWrap .scrollAni2:last-child {width: 70%; }

    #philosophy .layer.no1 {padding: 0 6.6vw;}
    #philosophy .layer.no1 .titWrap {padding:0;}
    #philosophy .layer.no1 .titWrap .scrollAni2:last-child { padding: 55px 0 70px;}

    #philosophy .line {margin: 100px auto 0; height: 220px;}

    #philosophy .layer.no2 .titWrap {padding-top: 100px;}
    #philosophy .layer.no2 .titWrap .scrollAni2 {margin: 0 auto;}
}

/* 모바일 미디어쿼리 */

@media screen and (max-width: 480px) {

    #philosophy .titWrap .scrollAni2:last-child {width: 80%;}

}
