@charset "utf-8";

.miniTit {left: -134px;  transform: rotate(-90deg) translate3d(16%, 0, 0);}

#portfolio .layer.no1 .titWrap {padding-left: 6vw;}
#portfolio .layer.no1 .titWrap h2 {padding-bottom: 20px; font-weight: 400;}
#portfolio .layer.no1 .titWrap h2 p {display: inline-block; font-family: 'Roboto', sans-serif; font-weight: 500;}
#portfolio .layer.no1 .titWrap .scrollAni2{position: absolute;top: 220px; right: 0;}

#portfolio .bgImg {text-align: center; margin: 237px auto 200px; max-width: 1920px; max-height: 825px; overflow: hidden; position: relative; transition: all .3s; }
#portfolio .bgImg:after {content:""; display: block; clear: both; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #B3ADA3; transform-origin: left; transition: .4s;}
body.on #portfolio .bgImg:after {transform: translateX(100%); transition: 0.8s .3s cubic-bezier(0.6, 0.08, 0.23, 0.88)}

/* list */
#portfolio .portList ul:after {content:""; display: block; clear: both;}
#portfolio .portList ul > li {display: none; text-align: left; position: relative; max-width: 65%; margin-top: 285px;}
#portfolio .portList ul > li:first-child {margin-top: 0;}
#portfolio .portList ul > li:nth-child(3),
#portfolio .portList ul > li:nth-child(9n) {padding-left: 6vw;}
#portfolio .portList ul > li:nth-child(even) {margin-left: auto;}
#portfolio .portList ul > li .detail {display: table; caption-side: bottom; }
#portfolio .portList ul > li:nth-child(even) .detail {margin-left: auto;}
#portfolio .portList ul > li .portImg {position: relative; display: table-cell;}
#portfolio .portList ul > li .portImg .date {position: absolute; bottom: 0; right: -10px; transform-origin: bottom right; transform: rotate(90deg); font-size: 18px; color: #ccc; line-height: 1;}
#portfolio .portList ul > li dl {padding-top: 50px; display: table-caption;}
#portfolio .portList ul > li dt {font-size: 28px; color: #151515; line-height: 1.2; font-weight: bold;}
#portfolio .portList ul > li dd {padding-top: 15px; font-size: 18px; color: #555; line-height: 1.5;}

#portfolio .portList .viewMore {text-align: center; margin-top: 175px;}
#portfolio .portList .viewMore a {animation: scrollBottom 1s both infinite alternate; display: inline-block; color: #555; position: relative; z-index: 1; font-weight: bold;}
#portfolio .portList .viewMore .arrowbtn { position: relative; display: block; width: 42px; height: 42px; margin: 10px auto 0; border: 2px solid #555;  border-radius: 42px; color: #555; line-height: 42px; cursor: pointer; transition: all 0.25s ease-in-out; }
#portfolio .portList .viewMore a:hover .arrowbtn {background: #111;border-color: #111;color: #fff;}
#portfolio .portList .viewMore .arrowbtn:after { position: absolute; display: inline-block; content: ""; width: 8px; height: 9px;top: 50%; left: 50%; margin-left: -5px;margin-top: -8.5px;border-bottom: 2px solid;border-right: 2px solid;transform: rotateZ(45deg);}


/* 미디어쿼리 */
@media screen and (max-width: 1600px) {
    .miniTit {left: -5.8vw;}
    #portfolio .layer.no1 .titWrap .scrollAni2 {width: 18vw; right: 3vw;} 
}

@media screen and (max-width: 1300px) , (max-height :900px) {
    #portfolio .bgImg {margin: 150px auto 120px;}

    #portfolio .portList ul > li {margin-top: 180px;}
    #portfolio .portList ul > li dt {font-size: 23px;}
    #portfolio .portList ul > li dd {font-size: 14px;}
}

@media screen and (max-width: 1024px), (max-height :800px) {
    #portfolio .portList ul > li .portImg .date {font-size: 1.7vw;}
}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 768px) {
    #portfolio .layer.no1 {padding: 0 6.6vw;}
    #portfolio .layer.no1 .titWrap {padding:0;} 
    #portfolio .layer.no1 .titWrap .scrollAni2 {width: 20vw; right: 0;}

    #portfolio .bgImg {margin: 90px auto 85px;}

    #portfolio .portList ul > li {margin-top: 100px; max-width: 100%;}
    #portfolio .portList ul > li:nth-child(3), #portfolio .portList ul > li:nth-child(9n) {padding-left: 0;}
    #portfolio .portList ul > li dl {padding-top: 25px;}
    #portfolio .portList ul > li dt {font-size: 18px;}
    #portfolio .portList ul > li dd {font-size: 12px;}
    #portfolio .portList ul > li .portImg .date {right: -1px;}

    #portfolio .portList .viewMore {margin-top: 100px; transform:scale(0.6);}
}

/* 모바일 미디어쿼리 */
@media screen and (max-width: 480px) {
    #portfolio .layer.no1 .titWrap .scrollAni2 {top: 190px;}

}
