@charset "utf-8";

.miniTit {left: -77px;  transform: rotate(-90deg) translate3d(16%, 0, 0); }

#team .layer.no1 .titWrap {padding-left: 6vw;}
#team .layer.no1 .titWrap h2 {padding-bottom: 20px;}
#team .layer.no1 .titWrap .scrollAni2{position: absolute;top: 220px; right: 0;}

/* list */
#team .teamList {padding-top: 107px;}
#team .teamList:after {content:""; display: block; clear: both;}
#team .teamList > li {text-align: left; position: relative; margin-top: 285px;}
#team .teamList > li:first-child {margin-top: 0;}
#team .teamList > li:nth-child(3),
#team .teamList > li:nth-child(9n) {padding-left: 6vw;}
#team .teamList > li:nth-child(even) {margin-left: auto;}
#team .teamList > li .detail {position: relative;}
#team .teamList > li .detail:after {content:""; display: block; clear: both;}
#team .teamList > li:nth-child(even) .detail {margin-left: auto;}
#team .teamList > li .teamImgWrap {}
#team .teamList > li .teamImgWrap:after {content:""; display: block; clear: both;}
#team .teamList > li .teamImg {display: inline-block; max-width: 40%; float: left; position: relative; overflow: hidden;}
#team .teamList > li .teamImg:after {content:""; display: block; clear: both; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #e7eff7; transform-origin: left; transition: .4s;}
#team .teamList > li.on .teamImg:after {transform: translateX(100%); transition: 0.8s .3s cubic-bezier(0.6, 0.08, 0.23, 0.88)}
#team .teamList > li:nth-child(even) .teamImg:after {left: auto; right: 0;}
#team .teamList > li:nth-child(even).on .teamImg:after {transform: translateX(-100%);}
#team .teamList > li dl {animation-delay: .3s; padding-top: 50px; font-size: 26px;  position: absolute; top: 0; left: 50%; margin-left: -17%; color: #000; transition: all .3s;}
#team .teamList > li dt {font-size: 30px; line-height: 1.2; font-weight: bold; transition: all .3s;}
#team .teamList > li dt strong {font-size: 50px; }
#team .teamList > li dd {padding-top: 20px;  line-height: 1.5; font-weight: 500; transition: all .3s;}
#team .teamList > li .achieve { padding: 25% 45px 0; display: inline-block; line-height: 1.5; vertical-align: top; font-size: 18px;  font-weight: 500;  transition: all .3s;}

#team .teamList > li:nth-child(even) {text-align: right;}
#team .teamList > li:nth-child(even) dl {left: auto; right: 50%; margin-left: 0; margin-right: -17%; }
#team .teamList > li:nth-child(even) .teamImg {float: right;}

/* 자문단 */
#team .adWrap {padding-top: 250px;}
#team .adWrap .who {padding-top: 145px;}
#team .adWrap .who .list { font-size: 0; text-align: center;}
#team .adWrap .who .list > li {width: 23.3%; display: inline-block; margin-left: 56px; margin-bottom: 85px;}
#team .adWrap .who .list > li:first-child,
#team .adWrap .who .list > li:nth-child(3n+1) {margin-left: 0;}
#team .adWrap .who .list > li .adImg {display: inline-block; vertical-align: top;}
#team .adWrap .who .list > li dl {display: inline-block; vertical-align: top; text-align: left; font-size: 16px; margin: 12% 0 0 -50px;}
#team .adWrap .who .list > li dt strong {font-size: 26px;}
#team .adWrap .who .list > li dd {font-size: 14px; padding-top: 10px;}

/* 로고 */
#team .networkWrap {padding-top: 110px;}
#team .networkWrap .logo {padding-top: 100px; max-width: 80%; margin: 0 auto;}
#team .networkWrap .logo .list {margin-left: -2%;}
#team .networkWrap .logo .list:after {content:""; display: block; clear: both; }
#team .networkWrap .logo .list > li {float: left; width: 23%; margin-left: 2%; margin-bottom: 20px; text-align: center; }
/*
#team .networkWrap .logo .list > li div {width: 100%;max-width: 278px;overflow: hidden;background-repeat: no-repeat;background-position: center;background-size: contain;margin: 0 auto;}
#team .networkWrap .logo .list > li div:before {content:""; display: block; padding-top: 100%;}
*/

/* 미디어쿼리 */
@media screen and (max-width: 1600px) {
    .miniTit {left: -2vw;}
    /* #team .teamList > li .achieve {font-size: 1.2vw;} */
}

@media screen and (max-width: 1300px) , (max-height :900px) {
    #team .teamList > li {margin-top: 180px;}
    #team .teamList > li dl {font-size: 18px; padding-top: 25px;}
    #team .teamList > li dt {font-size: 23px;}
    #team .teamList > li dt strong {font-size: 38px;}
    #team .teamList > li .achieve {font-size: 14px;}

    #team .adWrap .who {padding-top: 110px;}
    #team .adWrap .who .list > li .adImg {max-width: 75%;}
    #team .adWrap .who .list > li dl {font-size: 14px; }
    #team .adWrap .who .list > li dt strong {font-size: 18px;}
    #team .adWrap .who .list > li dd  {font-size: 12px;}

}

@media screen and (max-width: 1024px), (max-height :800px) {
    #team .teamList > li .teamImg {max-width: 47%;}
    #team .teamList > li .achieve {padding: 30% 45px 0;}

}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 768px) {
    #team .layer.no1 {padding: 0 6.6vw;}
    #team .layer.no1 .titWrap {padding:0;}
    
    #team .teamList > li {margin-top: 100px;}
    #team .teamList > li dl {padding-top: 25px; font-size: 16px; left: auto; right: 0; margin-left: 0 !important;}
    #team .teamList > li:nth-child(even) dl {left: 0; right: auto;}
    #team .teamList > li dt {font-size: 16px;}
    #team .teamList > li dt strong {font-size:28px;}
    #team .teamList > li dd {padding-top: 5px;}

    #team .teamList > li .teamImg {float: none; max-width: 70%;}
    #team .teamList > li .achieve {padding: 20px 0 0;}

    #team .adWrap {padding-top: 130px;}
    #team .adWrap .who {padding-top: 80px;}
    #team .adWrap .who .list > li {width: 45%;}
    #team .adWrap .who .list > li,
    #team .adWrap .who .list > li:nth-child(3n+1) {margin-left: 23px; margin-bottom: 23px;}
    #team .adWrap .who .list > li:nth-child(odd) {margin-left: 0;}
    #team .adWrap .who .list > li .adImg {max-width: 75%;}
    #team .adWrap .who .list > li dl {margin-left: -35px;}
    #team .adWrap .who .list > li dd  {padding-top: 0;}

    #team .networkWrap {padding-top: 130px;}
    #team .networkWrap .logo {padding-top: 70px; max-width: 100%;}
    #team .networkWrap .logo .list > li {float: left; width: 31%; margin-left: 2%; margin-bottom: 20px;}

}

/* 모바일 미디어쿼리 */

@media screen and (max-width: 480px) {


    #team .teamList > li dl {font-size: 11px;}
    #team .teamList > li dt {font-size: 11px;}
    #team .teamList > li dt strong {font-size:20px;}
    #team .teamList > li .achieve {font-size: 11px;}

    #team .adWrap .who .list > li dl {font-size: 12px; margin-left: -35px;}
    #team .adWrap .who .list > li dt strong {font-size: 14px;}
    #team .adWrap .who .list > li dd  {font-size: 11px;}

}
