@charset "UTF-8";
/** REM 사용을 위한 Viewport 세팅 @param {Array} $array       Viewport 크기가 저장 된 배열 @param {String} $orientation :             'portrait' landscape 이면 별도 표기 */
/** %단위의 넓이 설정 @param  {int} $width      %를 구할 px단위의 숫자 @param  {int} $wrap-width :             $design-width %를 구할 px의 기준이 되는 숫자 @return {int}             변환 된 % @include set-width(300px) = [ 300px / design-draft * 100% ]  */
/** 부모 포지션의 영역을 모두 채움 단, fixed 인 경우에는 브라우저 영역 전체를 채움 @param  {String} $type absolute / fixed */
ul, .heading { margin: 0; padding: 0; }

ul { list-style: none; }

.sp-common { display: block; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIHWP4zwAAAgEBAMVfG14AAAAASUVORK5CYII=); text-indent: -9999px; }

* { -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ -ms-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; text-rendering: optimizeLegibility !important; /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: transparent; */ }

html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { color: inherit; background-color: transparent; text-decoration: none; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input::-ms-clear { display: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

img { max-width: 100%; line-height: 1; vertical-align: top; }

fieldset img, label img { width: 100%; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

a, area, button { outline: 0; }

[class^='uri-'] { display: inline-block; background-size: 100% 100%; text-indent: -9999px; }

.btn-scroll-top { position: fixed; bottom: 0.83333rem; right: 0.83333rem; z-index: 1000; }

[role="button"] { cursor: pointer; }

.movie-frame { position: relative; height: 0; padding-bottom: 56.25%; }

.movie-frame > iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 0; background-color: black; }

input[type="text"], input[type="tel"], input[type="number"], input[type="url"], textarea { line-height: 1.231; margin: 0; -webkit-appearance: none; border: 1px solid #e0e0e0; border-radius: 0; resize: none; }

[disabled="true"] { cursor: default; }

.fluid-input { position: relative; padding-bottom: 11%; display: block; vertical-align: top; height: 0; }

.fluid-input.text input[type="text"] { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 0; }

/*
:lang(zh) {
  font-family:"SimHei", "Hiragino Sans GB", "LiHei Pro Medium", arial, sans-serif
}
:lang(ko) {
  font-family:"Nanum Gothic", "Open Sans", "Malgun Gothic", Arial, Helvetica, sans-serif
}
*/
.txt-left { text-align: left; }

.txt-right { text-align: right; }

.txt-center { text-align: center; }

.txt-thin { font-weight: 100; }

.txt-light { font-weight: 300; }

.txt-regular { font-weight: 400; }

.txt-bold { font-weight: bold; }

.txt-overflow { overflow: hidden; word-wrap: normal; white-space: nowrap; text-overflow: ellipsis; }

.a11y { position: absolute; left: -9999px; height: 0; text-indent: -9999px; visibility: hidden; overflow: hidden; }

html { font-size: 24px; }

#viewport { position: relative; width: 100%; margin: 0 auto; }

.inner { position: relative; }

.cfx { zoom: 1; }

.cfx:after { display: block; content: ''; clear: both; }

.spacer { width: 100%; height: 100%; }

#indicator { background: rgba(0, 0, 0, 0.75); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#60000000,endColorstr=#60000000); }

.modal { position: absolute; top: 0; right: 0; bottom: 0; left: 0; outline: 0; z-index: 9999; display: none; width: 100%; height: 100%; }

.modal-open { overflow-y: scroll; }

.modal-open > #viewport { position: fixed; right: 0; left: 0; width: 100%; margin-right: auto; margin-left: auto; }

.modal-content { position: absolute; width: 90%; z-index: 9899; top: 50%; left: 50%; }

[data-view="full"] .modal-content { width: 100%; height: 100%; top: auto; left: auto; margin: 0; }

.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; -webkit-opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; filter: alpha(opacity=80); z-index: 8999; background-color: black; }

.modal__close, .modal-btn-close { position: absolute; background-repeat: no-repeat; }

.modal.is-opened { z-index: 1000; }

@keyframes anim-scale { from { -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  to { -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.modal-scale { animation-name: anim-scale; animation-duration: .3s; animation-direction: alternate; animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28); }

html #viewport { max-width: 720px; margin-right: auto; margin-left: auto; }

@media all and (max-width: 670px) { html { font-size: 21px; } }

@media all and (max-width: 639px) { html { font-size: 20px; } }

@media all and (max-width: 600px) { html { font-size: 16px; } }

@media all and (max-width: 480px) { html { font-size: 14px; } }

@media all and (max-width: 435px) { html { font-size: 13px; } }

@media all and (max-width: 414px) { html { font-size: 13px; } }

@media all and (max-width: 400px) { html { font-size: 12px; } }

@media all and (max-width: 375px) { html { font-size: 12px; } }

@media all and (max-width: 360px) { html { font-size: 12px; } }

@media all and (max-width: 320px) { html { font-size: 10px; } }

#bg { position: fixed; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; max-width: 720px; width: 100%; height: 100%; background-image: url(../images/@bg.jpg); background-repeat: no-repeat; background-position: center top; background-size: 100% auto; z-index: -1; }

.container { position: relative; }

.container#main { padding-top: 3%; }

.gnb { max-width: 720px; width: 100%; height: 3.25rem; position: fixed; top: 0; z-index: 10; font-size: 0; white-space: nowrap; }

.gnb .gnb-elem { text-indent: -9999px; display: inline-block; background-repeat: no-repeat; background-size: 100% 200%; height: 3.25rem; }

.gnb-elem01 { width: 19.44444%; background-image: url(../images/gnb-elem01.png); }

a.is-active .gnb-elem01 { background-position: 0 100%; }

.gnb-elem02 { width: 26.94444%; background-image: url(../images/gnb-elem02.png); }

a.is-active .gnb-elem02 { background-position: 0 100%; }

.gnb-elem03 { width: 26.94444%; background-image: url(../images/gnb-elem03.png); }

a.is-active .gnb-elem03 { background-position: 0 100%; }

.gnb-elem04 { width: 26.66667%; background-image: url(../images/gnb-elem04.png); }

a.is-active .gnb-elem04 { background-position: 0 100%; }

.gnb-elem02-update { width: 40.27778%; background-image: url(../images/gnb-elem02-update.png); }

a.is-active .gnb-elem02-update { background-position: 0 100%; }

.gnb-elem03-update { width: 40.27778%; background-image: url(../images/gnb-elem03-update.png); }

a.is-active .gnb-elem03-update { background-position: 0 100%; }

#cnt-invite .item-tutle { width: 28.75%; position: absolute; bottom: 43.3%; right: 15%; }

#cnt-invite .item-flower { width: 24.72222%; position: absolute; top: 45%; right: 0; }

#cnt-addgift { padding-bottom: 7%; padding-top: 4%; }

#popup-video .modal-content { max-width: 674px; }

#popup-app-comming .modal-content { max-width: 408px; }

#popup-url .modal-content { max-width: 633px; height: 19.08333rem; background-image: url(../images/@bg-popup-url.png); background-repeat: no-repeat; background-size: 100% 100%; }

#popup-app-comming .modal-btn-close { top: 0; right: 0; width: 3rem; height: 1.25rem; }

#popup-video .video-list { max-width: 674px; width: 100%; font-size: 0; white-space: nowrap; }

#popup-video .video-list > a { display: inline-block; width: 50%; height: 2.625rem; }

#popup-video .cont-coming { display: none; position: absolute; top: 36.2%; left: 1.7%; right: 1.5%; }

#popup-video .modal-btn-close { position: absolute; top: 16%; right: 0; }

#popup-video .go-sns { text-align: center; }

#popup-video .go-sns > a { margin-left: 3%; }

#popup-video .go-sns > a:first-child { margin-left: 0; }

#popup-video #main-video { border: 6px solid #a11e09; }

#popup-url .url-copy { display: block; width: 90%; margin-left: auto; margin-right: auto; margin-top: 42%; padding: 3%; text-align: center; background-color: #fff; border: 2px solid #a21e08; }

#popup-url .url-notice { display: block; width: 47.23539%; margin-left: auto; margin-right: auto; margin-top: 5%; }

#popup-url .modal-btn-close { top: 30%; right: 0; }

#popup-comming .modal-btn-close { top: 23%; right: 0; }

/* @ popup-video button */
.sp-btn { text-indent: -9999px; display: inline-block; background-repeat: no-repeat; background-size: 100% 200%; width: 100%; height: 2.66667rem; }

.btn-modal-elem1 { background-image: url(../images/modal-elem01.png); }

a.is-active .btn-modal-elem1 { background-position: 0 100%; }

.btn-modal-elem2 { background-image: url(../images/modal-elem02.png); }

a.is-active .btn-modal-elem2 { background-position: 0 100%; }

.btn-modal-elem3 { background-image: url(../images/modal-elem03.png); }

a.is-active .btn-modal-elem3 { background-position: 0 100%; }

.btn-modal-elem4 { background-image: url(../images/modal-elem04.png); }

a.is-active .btn-modal-elem4 { background-position: 0 100%; }

#popup-winner-guild .modal-btn-close, #popup-winner-hero .modal-btn-close, #popup-winner-soul .modal-btn-close { top: 70%; right: 30%; bottom: 10%; left: 30%; position: absolute; }

#popup-winner-guild .modal-close, #popup-winner-hero .modal-close, #popup-winner-soul .modal-close { top: 16%; right: 0; }

.btn-cafe { top: 50%; right: 16%; bottom: 46%; left: 69%; position: absolute; }

.btn-play .spacer { width: 19%; height: 11%; top: 43%; right: 39%; bottom: 0; left: 40%; position: absolute; }

.go-sns .spacer { width: 3.125rem; height: 2.66667rem; min-width: 4.125rem; min-height: 3.66rem; margin-top: 5%; background-size: 100% auto; background-repeat: no-repeat; }

.go-sns .spacer.go-sns-fb { background-image: url(../images/btn-go-fb.png); }

.go-sns .spacer.go-sns-kakao { background-image: url(../images/btn-go-kakao.png); }

.go-sns .spacer.go-sns-url { background-image: url(../images/btn-go-url.png); }

.modal-btn-close .spacer { width: 3.70833rem; height: 3.20833rem; }

.modal-btn-close .spacer.btn-modal-close { background-image: url(../images/btn-modal-close.png); background-size: 100% auto; background-repeat: no-repeat; }

/* @ scroll top button */
.btn-scroll-top { width: 3.66667rem; height: 3.66667rem; min-width: 4.4rem; min-height: 4.4rem; text-indent: -9999px; background-image: url(../images/btn-top.png); background-repeat: no-repeat; background-size: 100% auto; }

#cnt-addgift { position: relative; }

.go-google { top: 92%; right: 51%; bottom: 3%; left: 19%; position: absolute; }

#cnt-addgift .go-google { top: 79%; right: 51%; bottom: 14%; left: 13%; position: absolute; }

.go-appstore { top: 92%; right: 18%; bottom: 3%; left: 51%; position: absolute; }

#cnt-addgift .go-appstore { top: 79%; right: 13%; bottom: 14%; left: 51%; position: absolute; }

#cnt-reser .btn-winner-popup { top: 76%; right: 39%; bottom: 19%; left: 41%; position: absolute; }

#cnt-invite .btn-winner-popup { top: 76%; right: 15%; bottom: 20%; left: 65%; position: absolute; }

#cnt-addgift .btn-winner-popup { top: 70%; right: 42%; bottom: 26%; left: 38%; position: absolute; }

.btn-go-reserve { top: 84%; right: 22%; bottom: 10%; left: 22%; position: absolute; }

#main .btn-go-reserve { top: 86%; right: 22%; bottom: 7%; left: 22%; position: absolute; }
