@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url('http://fonts.googleapis.com/css?family=Pacifico');

/* Reset */
html,body{width:100%;height:100%}
html{font-size:10px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-size:12px;color:#383d41}
body{background-color:#eee;*word-break:break-all;-ms-word-break:break-all; font-family: "Nanum Gothic", sans-serif; overflow-y: scroll;}
body.sub{background-color:#eee;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:inherit;text-decoration:none}
a:hover{color:inherit;text-decoration:none;}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}
input::-ms-clear{display:none}


img{max-width: 100%; vertical-align: top; -webkit-touch-callout: none; -webkit-user-select: none;}
*{-webkit-tap-highlight-color: transparent;}
.c_blc{color: #000;}
.c_red{color: #ff545a;}
.c_blu{color: blue;}
.fwb{font-weight: bold;}
/* íˆ´ë°”ì˜ì—­ */
.toolbar{overflow: hidden;}
.toolbar_inner{background: #ff545a; height: 45px; line-height: 45px; color: #fff; text-align: center; position: relative; font-size: 12px;}
.toolbar_inner .toolbar_txt{}
.toolbar_inner .toolbar_btns{position: absolute; right: 30px; top: 0;height: 100%; color: #fff; font-size: 15px;}
.toolbar_inner .toolbar_btns .txt{font-size: 11px; margin-right: 7px;}
.toolbar_inner .toolbar_btns span{vertical-align: middle;}
@media only screen and (max-width: 460px){
	.toolbar{display: none !important;}
}
.cmmm_stit{font-size: 20px; color: #000; font-weight: bold; margin: 30px 0 15px; padding-bottom: 15px; border-bottom: 1px solid #ddd;}
/* í—¤ë”ì˜ì—­ */
.header{padding: 35px 0; background: #fff;}
.header_inner{max-width: 1400px; margin: 0 auto; font-size: 0;}
.h_logo{display: inline-block; vertical-align: bottom; width: 20%;}
.h_logo .logo{display: inline-block; width: 100%; max-width: 138px; height: 52px; background: url(../images/logo.png) no-repeat left top; background-size: 100% auto;}
.h_nav{display: inline-block; vertical-align: bottom; width: 80%; text-align: right;}
.h_nav .nitems{display: inline-block;}
.h_nav .nitems a{display: inline-block; padding: 0 15px; font-size: 14px; color: #000; font-weight: 600;}
.sub .h_nav .nitems a{color: #666;}
.h_nav .nitems.active a{color: #000;}
.h_nav .nitems.last a,
.h_nav .nitems:last-child a{padding-right: 0;}
.header_inner .mob_btn{width: 23px; height: 16px; position: absolute; right: 20px; top: 50%; margin-top: -8px; display: none;}
.header_inner .mob_btn span{width: 100%; height: 2px; display: block; background: #000;}
.header_inner .mob_btn span+span{margin-top: 5px;}
@media only screen and (max-width: 1024px){
	.header_inner{padding: 0 20px; position: relative;}
}
@media only screen and (max-width: 768px){
	.header_inner .mob_btn{display: block; padding: 10px; margin-top: -18px;}
	.header{padding: 15px 0;}
	.h_logo{width: 30%;}
	.h_logo .logo{background-position: left center;}
	.h_nav{position: fixed; right: -100%; top: 0; bottom: 0; z-index: 10; width: 250px; background: #fafafa;}
	.dimm{position: fixed; z-index: 9; width: 100%; top: 0; bottom: 0; background: #000; opacity: 0; left: 0; display: none;}
	.h_nav ul{padding: 15px 0;}
	.h_nav .nitems{display: block; text-align: left;}
	.h_nav .nitems a{padding: 15px 0; padding-left: 30px;}
}

/* ì»¨í…Œì´ë„ˆ ì˜ì—­ */

/* ì¹´ìš´íŠ¸ */
.count_up{ height: 120px; line-height: 120px; text-align: center; background: #2190ae; font-size: 60px; color: #fff;  margin-bottom: 30px; position: relative; overflow: hidden;}
.count_up .cnum{padding: 0 15px; font-family: 'Pacifico', cursive; text-shadow: 0 8px 30px rgba(255,255,255,0.3); transition: all 0.2s; transform-style: preserve-3d; position: relative; z-index: 1;}
/* ë©”ì¸ í¬íŠ¸í´ë¦¬ì˜¤ */
.pp_grid{padding: 5px; }
.pp_grid .item{ perspective: 500px; position: relative;}
.pp_grid .item > a {display: block; }
.pp_grid .item > a.animate,
.pp_grid .item  .ppgr_img.animate{transition: all 1s ease; transform: translateX(0) translateY(0) rotateX(0deg) rotateY(0deg) !important;}
.pp_grid .item .ppgr_inner{display: block; padding: 30px; background: #fff; border-radius: 5px; box-shadow: 0 1px 1px #ccc; position: relative; }
.pp_grid .item .ppgr_inner.initboxshadow,
.pp_grid .item .ppgr_img.initboxshadow{transition: all 1s ease; box-shadow: 0 1px 1px #ccc !important; background: #fff !important;}
.pp_grid .item .ppgr_inner .ppgr_img{display: block; }
.pp_grid .item .ppgr_inner .ppgr_img img{max-width: 100%;}
.pp_grid .item .ppgr_inner .ppgr_txts{clear: both; display: block;}
.pp_grid .item .ppgr_inner .ppgr_txts .ppgr_tit{font-size: 13px; color: #000; font-weight: 600; padding: 8px 0; display: block;}
.pp_grid .item .ppgr_inner .ppgr_txts .ppgr_subj{font-size: 12px; line-height: 1.5; color: #555;}
@media only screen and (max-width: 768px){
	.pp_grid .item .ppgr_inner .ppgr_txts .ppgr_tit{font-size: 15px; margin-top: 6px;}
	.pp_grid .item .ppgr_inner .ppgr_txts .ppgr_subj{font-size: 13px;}
}
.contents .cont_in{font-size: 0;}
.contents .lef_box,
.contents .cen_box,
.contents .rig_box{width: 100%; box-sizing: border-box; }
.contents .rig_box{display: none; }
.contents .rig_box .bx_in{overflow-y: auto; max-height: 800px;}
.contents .rig_box .bx_in .tit{font-size: 12px; line-height: 1.8; min-height: 22px; color: #222; font-weight: bold; margin-bottom: 7px;}
.contents .rig_box .pf_lst{margin: -4px 0;}
.contents .rig_box .pf_lst li a{display: block; padding: 4px 0; position: relative; padding-left: 17px; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px;}
.contents .rig_box .pf_lst li a:after{content: ''; width: 2px; height: 2px; background: #666; position: absolute; left: 7px; top: 50%; margin-top: -1px;}
.contents .rig_box .pf_lst li a:hover,
.contents .rig_box .pf_lst li a:focus{text-decoration: underline;}
.contents .rig_box .pf_lst li.active a{color: #ff545a; font-weight: bold;}
.contents .rig_box .pf_lst li.active a:after{background: #ff545a;}
.contents .cont_in .bx_in{background: #fff; border: 1px solid #dfdfdf; border-radius: 5px; padding: 20px; font-size: 12px;}
.contents .cont_in .bx_in + .bx_in{margin-top: 15px;}
.contents .cont_in .cen_box .bx_in .pf_imgs{text-align: center;}
.contents .cont_in .cen_box .bx_in .pf_imgs img{margin-bottom: 20px; }
.contents .cont_in .cen_box .bx_in .pf_imgs .NO_RESULT{font-size: 12px; color: #222; display: block; text-align: center; padding: 30px 0;}
.sj_lst{color: #222; position: relative; line-height: 1.8; min-height: 22px;}
.sj_lst + .sj_lst{margin-top: 7px;}
.sj_lst dt{font-weight: bold; width: 75px; position: absolute; left: 0; top: 0;}
.sj_lst dt:after{content: ':'; position: absolute; right: 0; top: 0; font-weight: normal;}
.sj_lst dd{text-indent: 80px; font-weight: normal; word-break: break-all;}
.sj_lst.indent{margin-top: 10px;}
.sj_lst.indent dt{min-height: 25px; line-height: 25px;}
.sj_lst.indent dd{text-indent: 0; padding-left: 80px;}
.sj_lst .label{display: inline-block; vertical-align: top; padding: 0 10px; height: 18px; padding-top: 1px; text-align: center; font-size: 11px; font-family: 'dotum'; border: 1px solid #fff; border-radius: 3px; margin: 2px 0;}
.sj_lst .label.res{border-color: #28669c; color: #28669c;}
.sj_lst .label.ie{border-color: #5bc0de; color: #5bc0de;}
.sj_lst .label.js{border-color: #d9534f; color: #d9534f;}
.sj_lst .label.cms{border-color: #5cb85c; color: #5cb85c;}
.sj_lst .label.hyb{border-color: #666; color: #666;}
.sj_lst .label.tmc{border-color: #f0ad4e; color: #f0ad4e;}
.sj_lst .label.epub{border-color: #85b916; color: #85b916;}
.sj_lst.perc{padding-left: 80px;}
.sj_lst.perc dd{text-indent: 0;}
.sj_lst.perc .cht_bar{position: relative; padding-right: 50px;}
.sj_lst.perc .cht_bar .val_nu_area{background: #eaeaea; width: 100%; display: inline-block; height: 7px; border-radius: 7px; vertical-align: middle; overflow: hidden; position: relative;}
.sj_lst.perc .cht_bar .val_nu_area .valNu{position: absolute; left: 0; top: 0; background: #ff545a; background-image: -webkit-linear-gradient(90deg, #ff545a, #fd9195); border: 1px solid #ff545a; display: inline-block; height: 100%; height: calc(100% - 2px); border-top-right-radius: 7px; border-bottom-right-radius: 7px;}
.sj_lst.perc .cht_bar .txt{position: absolute; right: 0; top: 0; min-width: 35px;}
.sj_lst.perc .cht_bar .txt b{min-width: 22px; display: inline-block; text-align: right;}
.bt_gr{margin-top: 30px;}
.bt_gr li{float: left; box-sizing: border-box;}
.bt_gr li a{display: block; height: 45px; line-height: 45px; background: #eaeaea; text-align: center; color: #30343f; font-size: 12px;}
.bt_gr li.bt01{width: 56%; padding-right: 2px;}
.bt_gr li.bt02{width: 20%; padding-right: 2px;}
.bt_gr li.bt03{width: 12%; padding-right: 1px;}
.bt_gr li.bt04{width: 12%; padding-left: 1px;}
.bt_gr li.bt03 a,
.bt_gr li.bt04 a{background: #666; color: #fff;}
@media only screen and (max-width: 768px){
	.contents .lef_box,
	.contents .cen_box,
	.contents .rig_box{margin: 15px; width: auto; display: block;}
	.contents .rig_box.fixedAsideBox,
	.contents .lef_box.fixedAsideBox {margin-top: 15px !important;}
	.contents .cont_in .bx_in{font-size: 13px;}
}
@media only screen and (min-width: 1400px){
	.sub .contents{width: calc(950px - 30px); margin: 0 auto; padding: 15px 0;}
}
@media only screen and (min-width: 769px){
}
.strong{font-weight: bold;}
.ste_inf{margin-top: 30px; background: #fafafa; padding: 15px 30px;}
.ste_inf .tit{font-size: 23px; font-weight: bold; position: relative; text-transform: capitalize; padding-left: 20px;}
.ste_inf .tit:after{content: ''; width: 5px; height: 5px; background: #000; position: absolute; left: 0; top: 50%; margin-top: -3px; border-radius: 50%; }
.ste_inf .stit{margin-top: 10px; line-height: 1.8; margin-bottom: 15px; padding-left: 20px;}
.ste_inf .imgs{}
.ste_inf .imgs .img{text-align: center; padding: 5px 0;}
.ste_inf .imgs .img+.img{margin-top: 30px;}
.ste_inf .imgs .img img{display: inline;}
/* íƒ€ì´í‹€ */
.cmm_tit{font-size: 32px; color: #222; font-weight: bold; text-align: left; margin-bottom: 15px; }
.cmm_tit .sm{font-size: 75%; display: inline-block; margin-left: 10px; padding-left: 10px; vertical-align: bottom; position: relative; color: #666;}
.cmm_tit .sm b{color: #ff545a;}
.cmm_tit .sm:after{content: ''; width: 1px; height: 100%; position: absolute; left: 0; top: 0; background: #ddd;}
.cmm_txtlst{margin-bottom: 20px;}
/* ë‚´ìš© */
.cmm_txtlst li{position: relative;padding: 3px 0;padding-left: 10px; font-size: 16px; color: #000; line-height: 1.45;}
.cmm_txtlst li:after{content: ''; width: 3px; height: 1px; background: #555; position: absolute; left: 0; top: 11px;}
.cmm_txtlst li li:after{content: none;}
.cmm_subj{color: #555; font-size: 12px; line-height: 1.5;}
.pre{background: #fafafa; max-height: 200px; overflow-y: auto; border-left: 2px solid #28669c; margin: 0;}
.pre pre{margin: 0; overflow-x: hidden;}
/* ì´ë ¥ì„œ ê¸°ë³¸ì‚¬í•­ */
.abu_lf{}
.abu_lf .pic{display: none; text-align: center; background: #fafafa; padding: 15px; margin-bottom: 20px;}
.abu_lf .pic img{max-width: 100px;}
/* ê²½ë ¥ */
.tbl{border-top: 2px solid #ddd;}
.tbl caption{position: absolute; left: -999em; width: 0px; height: 0px; line-height: 0; overflow: hidden; text-indent: -999em;}
.tbl table{width: 100%; table-layout: fixed;}
.tbl table thead th,
.tbl table tbody td{padding: 8px 5px; text-align: center; border-bottom: 1px solid #ddd;}
.tbl table thead th{background: #f5f5f5; }

/**/
.plug_lst{margin: 0 -20px;}
.plug_lst li.first,
.plug_lst li:first-child{border-top: 1px solid #eee;}
.plug_lst li{display: block; border-bottom: 1px solid #eee;}
.plug_lst li.last,
.plug_lst li:last-child{border-bottom: none;}
.plug_lst li a{display: block; padding: 15px 0; padding-left: 20px; font-weight: bold; color: #555; font-size: 13px; position: relative;}
.plug_lst li a:before{content: '-'; display: inline-block; vertical-align: baseline; margin-right: 10px;}
.plug_lst li.active a{color: #222; background: #;}
.plug_lst li a .sm{display: none;}
.plug_lst li a span,
.plug_lst li a .ti-angle-right{font-size: 10px; position: absolute; right: 20px; top: 50%; margin-top: -4px;}
.btns{}
.btns.pl_down{font-size: 13px; text-align: center; padding: 12px 0; background: #ff545a; color: #fff; border-radius: 5px; display: block ; margin-top: 15px; font-weight: 600;}

.miscContent{line-height: 1.35;}
.wrap{position: relative; z-index: 2;}
#canvas{position: fixed; left: 0; top: 0; bottom: 0; z-index: 1;}
