@charset "utf-8";

#business .visual {background: url('../web/images/investment/invest_main.jpg') center top no-repeat;}

#business .all_contents > div {padding: 150px 0;}
#business .prinWrap {text-align: center;}
#business .areaWrap {background-color: #fcfcfc;}
#business .areaWrap .list {margin-top: 100px; display: flex;}
#business .areaWrap .list > li {width: calc(100% / 2 - 20px); border: 1px solid #f0f0f0;}
#business .areaWrap .list > li:not(:first-child) {margin-left: 40px;}
#business .areaWrap .list > li:nth-child(1) .top {background: url('../web/images/investment/inv_b1.png') #000 center top no-repeat;}
#business .areaWrap .list > li:nth-child(2) .top {background: url('../web/images/investment/inv_b2.png') #000 center top no-repeat;}

#business .areaWrap .list .top {padding: 100px 0; text-align: center; background-size: cover !important; font-size: 18px; line-height: 1; color: #fff;}
#business .areaWrap .list .top strong {font-size: 39px;}
#business .areaWrap .list .bottom {padding: 40px 40px;}
#business .areaWrap .list .bottom dl { position: relative;}
#business .areaWrap .list .bottom dl:first-child {margin-bottom: 50px;}
#business .areaWrap .list .bottom .floatDouble > div.left dl:after {content:""; display: block; width: 2px; top: 0; right: -21%; height: 105%; position: absolute; background: #ccc;}
#business .areaWrap .list .bottom .floatDouble > div.left dl.top:after {height: 200%;}
#business .areaWrap .list .bottom dt {border-bottom: 2px solid #ccc;   font-size: 31px;}
#business .areaWrap .list .bottom dd {position: relative; padding-top: 16px; padding-left: 16px; width: 85%; font-size: 18px; font-weight: 400; line-height: 1.63;}
#business .areaWrap .list .bottom dd:before {content:"·"; display: block; font-size: inherit; font-weight: 400; position: absolute; left: 5px; }


/* 미디어쿼리 */
@media screen and (max-width: 1600px) {
    #business .prinWrap .container {padding: 0 !important;}

    #business .areaWrap .list .bottom dd {font-size: 16px;}
}

@media screen and (max-width: 1300px) , (max-height :900px) {
    #business .areaWrap .list .top {font-size: 16px; }
    #business .areaWrap .list .top strong {font-size: 30px; }
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1024px), (max-height :800px) {
    #business .areaWrap .list > li {width: calc(100% / 2 - 10px);}
    #business .areaWrap .list > li:not(:first-child) {margin-left: 20px;}
    #business .areaWrap .list .top {padding: 80px 0;}
    #business .areaWrap .list .bottom dt {font-size: 28px;}
}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 768px) {
    #business .all_contents > div {padding: 120px 0;}
    #business .visual {background-image: url('../web/images/investment/investment_main_mb.jpg'); }

    #business .prinWrap .container {padding: 0;}
    #business .prinWrap .mVisible { width: 80%; margin: 70px auto 0;}

    #business .areaWrap .list {display: block;}
    #business .areaWrap .list > li {width: 100%; font-size: 15px;}
    #business .areaWrap .list > li:not(:first-child) {margin-left: 0; margin-top: 30px;}
    #business .areaWrap .list .bottom {padding: 30px 20px 60px;}
    #business .areaWrap .list .bottom dl:first-child {margin-bottom: 25px;}
    #business .areaWrap .list .bottom .floatDouble > div.left dl:after {display: none;}
    #business .areaWrap .list .bottom dt {font-size: 26px;}
    #business .areaWrap .list .bottom dd {width: 98%; font-size: 14px;}

}

/* 모바일 미디어쿼리 */

@media screen and (max-width: 480px) {
    #business .prinWrap .container {padding: 0 20px !important;}
    #business .prinWrap .mVisible { width: 100%; margin: 70px auto 0;}

    #business .areaWrap .inner {padding: 0 20px !important;}
    #business .areaWrap .list .top {padding: 60px 0;}
    #business .areaWrap .list .bottom p {padding-bottom: 0; font-size: 16px;}
    #business .areaWrap .list .bottom ul > li {font-size: 14px;}
    #business .areaWrap .list .bottom dt {font-size: 20px;}
    #business .areaWrap .list .bottom dd {font-size: 12px; padding-left: 12px;}

}

