@charset "utf-8";

/* header CSS */

.header .navi{
    position: relative;
    z-index: 80;
}

.header .navi:after {
    content:""; display: block; clear: both;
}

.header .logo{
    font-size: 14vw;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1;
}

.header .menuWrap {
    position: relative;
    padding-left: 0.6vw;
    padding-top: 39px;
    font-size: 20px;
    z-index: 1;
}

.header .menuWrap > div {
    display: flex;
}

.header .menuWrap a {
    font-size: inherit;
}

.header .menuWrap .menu {
    margin-left: auto;
    margin-right: 74px;
    display: inline-flex;
    gap: 64px;
}

.header .menuWrap.m-visible span:last-child {
    margin-left: auto;    
}

.header .introduce {
    position: relative;
    padding-left: 0.6vw;
    line-height: 1.25;
    letter-spacing: normal;
    font-size: 20px;
    font-weight: 300;
}

.header .introduce .copyright {
    position: absolute;
    top:0;
    left: 0;
    white-space: nowrap;
}

.header .introduce .txt {
    display: flex;
    justify-content: center;
}

.header .introduce .txt span {display: block;}

.header.menuOpen .navi {
    display: none;
}

/* HAMBURGET MENU CSS */

.hamburger {
    position: fixed;
    top: 36px;
    right: 2.2vw;
    transition: .3s ease-in-out;
    vertical-align: middle;
    z-index: 100;
    cursor: pointer;
}

.hamburger.scroll {
    padding: 10px 15px;
    background: #000;
    top: 26px;
    right:calc(2.35vw - 15px);
}

.hamburger .hamline{
    width: 28px;
    height: 2px;
    border-radius: 4px;
    background-color: #ecf0f1;
    display: block;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.hamburger:hover{
    cursor: pointer;
}

.hamburger.is-active .hamline:nth-child(2){
    opacity: 0;
}
  
.hamburger.is-active .hamline:nth-child(1){
    -webkit-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
}
  
.hamburger.is-active .hamline:nth-child(3){
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}

.header .overlay{
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    z-index: 90;
}
.header .overlay .s_logo {
    position: fixed;
    top: 36px;
    left: 2.35vw;
    font-size: 45px;
    line-height: 1;
}

.header nav {
    width: 100%;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);   
}
.header nav ul{
    font-size: 7vw;
    font-weight: 300;
}
.header nav ul li{
    opacity: 0;
    border-top: 1px solid #fff;
}
.header nav ul li:last-child{
    border-bottom: solid 1px #fff;
}

.header nav .menu-info{
    font-size: 0.2em;
    margin-left: 10px;
}

.header nav ul li a{
    opacity: 0.8;
    transition: opacity 0.2s ease;
    padding-left: 3vw;
    display: block;
}

.header nav ul li a:hover{
    opacity: 1;
}
@keyframes fadeInLeft{
    0%{opacity: 0; transform: translateX(-25%);}
    100%{opacity: 1; transform: translateX(0);}
}
.header .overlay.visible{
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.header .overlay.visible nav ul li{
    animation:fadeInLeft 0.3s ease forwards;
}
.header .overlay.visible nav ul li:nth-child(1){animation-delay:0.15s;}
.header .overlay.visible nav ul li:nth-child(2){animation-delay:0.2s;}
.header .overlay.visible nav ul li:nth-child(3){animation-delay:0.25s;}
.header .overlay.visible nav ul li:nth-child(4){animation-delay:0.3s;}


.header.scroll {
    position: fixed;
}

.header.scroll .logo {display: none;}
.header.scroll.menuOpen .logo {display: block !important;}



/* 랩탑(노트북) 해상도 사이즈 : 1440 */
@media (max-width: 1440px) {
    .header .introduce {display: flex; font-size: 18px;}
    .header .introduce .copyright {
        position: relative;
        padding-right: 10vw;
    }
    .header .introduce .txt {display: block;}
}

/* 태블릿 가로버전 & 노트북 해상도 작은 사이즈: 1024 */
@media (max-width: 1024px) {
    .header .menuWrap {padding-top: 28px; font-size: 16px;}
    .header .menuWrap .menu {gap: 38px;}

    .header .introduce {font-size: 16px;}

    .hamburger {top: 21px;}
    .hamburger.scroll {top: 11px;}

    .header nav ul{font-size: 80px;}
    .header .overlay .s_logo {font-size: 36px; top: 21px;}

}

/* 태블릿 & 모바일 해상도 큰 사이즈: 768 */
@media (max-width: 768px) { 
    .header .menuWrap {padding-top: 24px; font-size: 12px;}
    .header .logo {font-size: 13.6vw;}
    .hamburger {
        top: 14px;
        right: auto;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .hamburger.scroll {
        top: 0;
        width: fit-content;
        right: auto;
    }
    .header .overlay .s_logo {font-size: 21px; top: 19px;}

}

/* 일반 모바일 해상도 : 480 */
@media (max-width: 480px) {
    .header .introduce .copyright {display: none;}
    .header .introduce .txt span {display: inline;}

    .header .logo{
        margin-top: 16px;
    }

    .header nav ul{font-size: 53px;}

    
}