@charset "utf-8";

/* main */
.main_slide_wrap {
    width: 80.72vw; 
    margin: 143px auto 0;
}
.main_slide .swiper-slide {}
.main_slide_txt {
    display: flex; 
    margin-top: 20px; 
    font-size: 20px;
}
.main_slide_txt li:last-child {margin-left: auto; text-align: right;}


/* 랩탑(노트북) 해상도 사이즈 : 1440 */
@media screen and (min-width: 1440px) {
}

/* 태블릿 가로버전 & 노트북 해상도 작은 사이즈: 1024 */
@media screen and (max-width: 1024px) {
    .main_slide_wrap {margin-top: 70px;}

    .main_slide_txt {
        margin-top: 12px;
        font-size: 16px;
    }
}

/* 태블릿 & 모바일 해상도 큰 사이즈: 768 */
@media screen and (max-width: 768px) {
}

/* 일반 모바일 해상도 : 480 */
@media screen and (max-width: 480px) {
    .main_slide_wrap {margin-top: 17px;}
    .main_slide_txt {
        font-size: 14px;
    }
    .main_slide_txt li:last-child {max-width: 50%;}
}

/* @media screen and (max-width: 1024px), (max-height :800px) {} */
