@charset "UTF-8";
/** REM 사용을 위한 Viewport 세팅 @param {Array} $array       Viewport 크기가 저장 된 배열 @param {String} $orientation :             'portrait' landscape 이면 별도 표기 */
/** %단위의 넓이 설정 @param  {int} $width      %를 구할 px단위의 숫자 @param  {int} $wrap-width :             $design-width %를 구할 px의 기준이 되는 숫자 @return {int}             변환 된 % @include set-width(300px) = [ 300px / design-draft * 100% ]  */
/** 부모 포지션의 영역을 모두 채움 단, fixed 인 경우에는 브라우저 영역 전체를 채움 @param  {String} $type absolute / fixed */
.cos-contents, .frame-play-contents .list, .introduce-contents .list { *zoom: 1; }

.cos-contents:before, .frame-play-contents .list:before, .introduce-contents .list:before, .cos-contents:after, .frame-play-contents .list:after, .introduce-contents .list:after { content: ""; display: block; }

.cos-contents:after, .frame-play-contents .list:after, .introduce-contents .list:after { clear: both; }

.heading { margin: 0; padding: 0; }

* { -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ -ms-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; text-rendering: optimizeLegibility !important; /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: transparent; */ }

html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { color: inherit; background-color: transparent; text-decoration: none; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input::-ms-clear { display: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

img { max-width: 100%; line-height: 1; vertical-align: top; }

fieldset img, label img { width: 100%; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

a, area, button { outline: 0; }

[class^='uri-'] { display: inline-block; background-size: 100% 100%; text-indent: -9999px; }

.btn-scroll-top { position: fixed; bottom: 0.83333rem; right: 0.83333rem; z-index: 1000; }

[role="button"] { cursor: pointer; }

.movie-frame { position: relative; height: 0; padding-bottom: 56.25%; }

.movie-frame > iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 0; background-color: black; }

input[type="text"], input[type="tel"], input[type="number"], input[type="url"], textarea { line-height: 1.231; margin: 0; -webkit-appearance: none; border: 1px solid #e0e0e0; border-radius: 0; resize: none; }

[disabled="true"] { cursor: default; }

.fluid-input { position: relative; padding-bottom: 11%; display: block; vertical-align: top; height: 0; }

.fluid-input.text input[type="text"] { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 0; }

/*
:lang(zh) {
  font-family:"SimHei", "Hiragino Sans GB", "LiHei Pro Medium", arial, sans-serif
}
:lang(ko) {
  font-family:"Nanum Gothic", "Open Sans", "Malgun Gothic", Arial, Helvetica, sans-serif
}
*/
.txt-left { text-align: left; }

.txt-right { text-align: right; }

.txt-center { text-align: center; }

.txt-thin { font-weight: 100; }

.txt-light { font-weight: 300; }

.txt-regular { font-weight: 400; }

.txt-bold { font-weight: bold; }

.txt-overflow { overflow: hidden; word-wrap: normal; white-space: nowrap; text-overflow: ellipsis; }

.a11y { position: absolute; left: -9999px; height: 0; text-indent: -9999px; visibility: hidden; overflow: hidden; }

html { font-size: 24px; }

#viewport { position: relative; width: 100%; margin: 0 auto; }

.inner { position: relative; }

.cfx { zoom: 1; }

.cfx:after { display: block; content: ''; clear: both; }

.spacer { width: 100%; height: 100%; }

#indicator { background: rgba(0, 0, 0, 0.75); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#60000000,endColorstr=#60000000); }

.modal { position: absolute; top: 0; right: 0; bottom: 0; left: 0; outline: 0; z-index: 9999; display: none; width: 100%; height: 100%; }

.modal-open { overflow-y: scroll; }

.modal-open > #viewport { position: fixed; right: 0; left: 0; width: 100%; margin-right: auto; margin-left: auto; }

.modal-content { position: absolute; width: 90%; z-index: 9899; top: 50%; left: 50%; }

[data-view="full"] .modal-content { width: 100%; height: 100%; top: auto; left: auto; margin: 0; }

.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; -webkit-opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; filter: alpha(opacity=80); z-index: 8999; background-color: black; }

.modal__close, .modal-btn-close { position: absolute; background-repeat: no-repeat; }

.modal.is-opened { z-index: 1000; }

@keyframes anim-scale { from { -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  to { -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.modal-scale { animation-name: anim-scale; animation-duration: .3s; animation-direction: alternate; animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28); }

fieldset { border: none; padding: 0; }

fieldset img, label img { width: auto; }

html #viewport { max-width: 720px; margin-right: auto; margin-left: auto; }

@media all and (max-width: 670px) { html { font-size: 21px; } }

@media all and (max-width: 639px) { html { font-size: 20px; } }

@media all and (max-width: 600px) { html { font-size: 16px; } }

@media all and (max-width: 480px) { html { font-size: 14px; } }

@media all and (max-width: 435px) { html { font-size: 13px; } }

@media all and (max-width: 414px) { html { font-size: 13px; } }

@media all and (max-width: 400px) { html { font-size: 12px; } }

@media all and (max-width: 375px) { html { font-size: 12px; } }

@media all and (max-width: 360px) { html { font-size: 12px; } }

@media all and (max-width: 320px) { html { font-size: 10px; } }

html, body { height: 100%; overflow: hidden; }

ul { padding: 0; margin: 0; list-style: none; }

p { margin: 0; }

#viewport { height: 100%; }

#viewport .bg { width: 100%; height: 100%; position: relative; }

.footer { position: absolute; bottom: 0; left: 0; z-index: 1; }

.inner { width: 100%; height: 100%; position: absolute; top: 7%; left: 0; }

.btn-go-reser { width: 14.72222%; position: absolute; top: 0; right: 3%; z-index: 10; }

/* 161114 팝업 수정 S */
/* 161114 팝업 수정 E */
.sp-common { display: inline-block; text-indent: -9999px; background-image: url(../images/sp-common.png); background-repeat: no-repeat; }

.sp-common.bi-icon { width: 167px; height: 88px; background-position: -5px -5px; }

.sp-common.nav-bar { width: 316px; height: 4px; background-position: -182px -5px; }

.sp-common.nav-cos-prev { width: 87px; height: 226px; background-position: -182px -19px; }

.sp-common.nav-elem { width: 89px; height: 78px; background-position: -279px -19px; }

.sp-common.nav-elem-cos { width: 89px; height: 27px; background-position: -378px -19px; }

a:hover .sp-common.nav-elem-cos, .is-active .sp-common.nav-elem-cos { width: 89px; height: 27px; background-position: -378px -56px; }

.sp-common.nav-elem-introduce { width: 89px; height: 27px; background-position: -378px -93px; }

a:hover .sp-common.nav-elem-introduce, .is-active .sp-common.nav-elem-introduce { width: 89px; height: 27px; background-position: -5px -130px; }

.sp-common.nav-elem-main { width: 89px; height: 26px; background-position: -279px -130px; }

a:hover .sp-common.nav-elem-main, .is-active .sp-common.nav-elem-main { width: 89px; height: 26px; background-position: -378px -130px; }

a:hover .sp-common.nav-elem, .is-active .sp-common.nav-elem { width: 89px; height: 78px; background-position: -279px -166px; }

.sp-common.nav-elem-play { width: 89px; height: 27px; background-position: -378px -166px; }

a:hover .sp-common.nav-elem-play, .is-active .sp-common.nav-elem-play { width: 89px; height: 27px; background-position: -5px -203px; }

.sp-common.nav-elem-relation { width: 89px; height: 27px; background-position: -378px -203px; }

a:hover .sp-common.nav-elem-relation, .is-active .sp-common.nav-elem-relation { width: 89px; height: 27px; background-position: -5px -240px; }

.sp-common.nav-introduce-next { width: 84px; height: 226px; background-position: -378px -240px; }

.sp-common.nav-introduce-prev { width: 87px; height: 226px; background-position: -508px -5px; }

.sp-common.nav-main-next { width: 84px; height: 226px; background-position: -472px -241px; }

.sp-common.nav-main-prev { width: 84px; height: 226px; background-position: -5px -477px; }

.sp-common.nav-play-next { width: 84px; height: 226px; background-position: -99px -477px; }

.sp-common.nav-play-prev { width: 87px; height: 226px; background-position: -193px -477px; }

.sp-common.nav-relation-next { width: 92px; height: 226px; background-position: -290px -477px; }

.sp-common.nav-relation-prev { width: 93px; height: 226px; background-position: -392px -477px; }

.main > .inner { top: 38%; }

.main-logo { width: 56.52778%; margin: 0 auto; }

.cos-title { width: 38.61111%; margin: 0 auto; }

.cos-contents { padding-top: 7%; padding-left: 10%; padding-right: 10%; padding-bottom: 7%; margin-top: 7%; background: url(../images/@bg-cos.png) no-repeat; background-size: 100% 100%; }

.cos-contents li { float: left; width: 48%; margin-left: 4%; }

.cos-contents li:nth-child(odd) { margin-left: 0; }

.cos-contents li:nth-child(1), .cos-contents li:nth-child(2) { margin-bottom: 4%; }

.cos-contents li a { display: inline-block; }

.cos-contents li img { width: 100%; height: 6.66667rem; }

/* 161114 영상보기 수정 S */
.frame-play-title { width: 60.41667%; margin: 0 auto; }

.frame-play-contents { padding-left: 10%; padding-right: 10%; padding-top: 7%; padding-bottom: 5%; margin-top: 1.5%; background: url(../images/@bg-play.png) no-repeat; background-size: 100% 100%; }

.frame-play-contents .detail { margin-bottom: 3%; }

.frame-play-contents .list li { float: left; width: 22.9%; margin-left: 2.8%; }

.frame-play-contents .list li:first-child { margin-left: 0; }

.frame-play-contents .list li a { display: inline-block; border: 1px solid transparent; -webkit-filter: grayscale(100%); filter: gray; }

.frame-play-contents .list li a.is-active { border: 1px solid red; -webkit-filter: grayscale(0%); filter: none; }

.frame-play-contents-video { position: relative; margin-top: 3%; margin-bottom: 3%; }

.frame-play-contents-video > a { display: inline-block; }

.frame-play-contents-video .btn-play { position: absolute; top: 46%; left: 47%; width: 11.40351%; }

/* 161114 영상보기 수정 E */
.relation-title { width: 55.13889%; margin: 0 auto; }

.relation-contents { margin-top: 1.5%; background: url(../images/@bg-relation.png) no-repeat; background-size: 100% 100%; }

.relation-contents img { padding-left: 10%; padding-right: 10%; padding-top: 5%; padding-bottom: 5%; }

.introduce-title { width: 37.77778%; margin: 0 auto; }

.introduce-contents { padding-top: 7%; padding-left: 10%; padding-right: 10%; margin-top: 5.5%; background: url(../images/@bg-introduce.png) no-repeat; background-size: 100% 100%; }

.introduce-contents .list { margin-top: 4%; margin-bottom: 4%; }

.introduce-contents .list li { float: left; width: 17%; margin-left: 3.75%; }

.introduce-contents .list li:first-child { margin-left: 0; }

.introduce-contents .list li a { display: inline-block; border: 1px solid transparent; -webkit-filter: grayscale(100%); filter: gray; }

.introduce-contents .list li a.is-active { border: 1px solid red; -webkit-filter: grayscale(0%); filter: none; }

.introduce-contents-img { padding-bottom: 10%; }

/** Swiper 3.3.1 Most modern mobile touch slider and framework with hardware accelerated transitions http://www.idangero.us/swiper/ Copyright 2016, Vladimir Kharlampidi The iDangero.us http://www.idangero.us/ Licensed under MIT Released on: February 7, 2016 */
.swiper-container { margin: 0 auto; position: relative; overflow: hidden; z-index: 1; }

.swiper-container-no-flexbox .swiper-slide { float: left; }

.swiper-container-vertical > .swiper-wrapper { -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }

.swiper-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate(0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper { -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper { -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; margin: 0 auto; }

.swiper-slide { -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide { height: auto; }

.swiper-container-autoheight .swiper-wrapper { -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; -webkit-transition-property: -webkit-transform,height; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform,height; }

.swiper-container .swiper-notification { position: absolute; left: 0; top: 0; pointer-events: none; opacity: 0; z-index: -1000; }

.swiper-wp8-horizontal { -ms-touch-action: pan-y; touch-action: pan-y; }

.swiper-wp8-vertical { -ms-touch-action: pan-x; touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev { position: absolute; top: 50%; width: 27px; height: 44px; margin-top: -22px; z-index: 10; cursor: pointer; -moz-background-size: 27px 44px; -webkit-background-size: 27px 44px; background-size: 27px 44px; background-position: center; background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled { opacity: .35; cursor: auto; pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E"); left: 10px; right: auto; }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E"); right: 10px; left: auto; }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination { position: absolute; text-align: center; -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10; }

.swiper-pagination.swiper-pagination-hidden { opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction { bottom: 10px; left: 0; width: 100%; }

.swiper-pagination-bullet { width: 8px; height: 8px; display: inline-block; border-radius: 100%; background: #000; opacity: .2; }

button.swiper-pagination-bullet { border: none; margin: 0; padding: 0; box-shadow: none; -moz-appearance: none; -ms-appearance: none; -webkit-appearance: none; appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet { cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet { background: #fff; }

.swiper-pagination-bullet-active { opacity: 1; background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active { background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active { background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets { right: 10px; top: 50%; -webkit-transform: translate3d(0, -50%, 0); -moz-transform: translate3d(0, -50%, 0); -o-transform: translate(0, -50%); -ms-transform: translate3d(0, -50%, 0); transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 5px 0; display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 5px; }

.swiper-pagination-progress { background: rgba(0, 0, 0, 0.25); position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar { background: #007aff; position: absolute; left: 0; top: 0; width: 100%; height: 100%; -webkit-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); -webkit-transform-origin: left top; -moz-transform-origin: left top; -ms-transform-origin: left top; -o-transform-origin: left top; transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar { -webkit-transform-origin: right top; -moz-transform-origin: right top; -ms-transform-origin: right top; -o-transform-origin: right top; transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress { width: 100%; height: 4px; left: 0; top: 0; }

.swiper-container-vertical > .swiper-pagination-progress { width: 4px; height: 100%; left: 0; top: 0; }

.swiper-pagination-progress.swiper-pagination-white { background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar { background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar { background: #000; }

.swiper-container-3d { -webkit-perspective: 1200px; -moz-perspective: 1200px; -o-perspective: 1200px; perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top { position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none; z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left { background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent)); background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent); background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent); background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent); background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right { background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent)); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent); background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)); background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent); background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent); background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent); background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom { background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent)); background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent); background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent); background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper { -ms-perspective: 1200px; }

.swiper-container-cube, .swiper-container-flip { overflow: visible; }

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide { pointer-events: none; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide { pointer-events: none; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active { pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top { z-index: 0; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }

.swiper-container-cube .swiper-slide { visibility: hidden; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; width: 100%; height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide { -webkit-transform-origin: 100% 0; -moz-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev { pointer-events: auto; visibility: visible; }

.swiper-container-cube .swiper-cube-shadow { position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background: #000; opacity: .6; -webkit-filter: blur(50px); filter: blur(50px); z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide { -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide { pointer-events: none; -webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide { pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active { pointer-events: auto; }

.swiper-scrollbar { border-radius: 10px; position: relative; -ms-touch-action: none; background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar { position: absolute; left: 1%; bottom: 3px; z-index: 50; height: 5px; width: 98%; }

.swiper-container-vertical > .swiper-scrollbar { position: absolute; right: 3px; top: 1%; z-index: 50; width: 5px; height: 98%; }

.swiper-scrollbar-drag { height: 100%; width: 100%; position: relative; background: rgba(0, 0, 0, 0.5); border-radius: 10px; left: 0; top: 0; }

.swiper-scrollbar-cursor-drag { cursor: move; }

.swiper-lazy-preloader { width: 42px; height: 42px; position: absolute; left: 50%; top: 50%; margin-left: -21px; margin-top: -21px; z-index: 10; -webkit-transform-origin: 50%; -moz-transform-origin: 50%; transform-origin: 50%; -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite; -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite; animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after { display: block; content: ""; width: 100%; height: 100%; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); background-position: 50%; -webkit-background-size: 100%; background-size: 100%; background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin { 100% { -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin { 100% { transform: rotate(360deg); } }

/**/
html, body { position: relative; height: 100%; }

#viewport .swiper-container-horizontal > .swiper-pagination-bullets { bottom: 0.3%; }

#viewport .swiper-container { width: 100%; height: 100%; }

#viewport .swiper-slide { position: relative; text-align: center; font-size: 18px; background: #fff; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

#viewport .swiper-pagination:after { width: 44%; height: 2px; content: ""; display: inline-block; position: absolute; top: 38%; left: 27%; background-color: black; z-index: 1; }

#viewport .swiper-button-next { background-image: url(../images/btn-next.png); display: none; }

#viewport .swiper-button-prev { background-image: url(../images/btn-prev.png); display: none; }

#viewport .swiper-pagination-bullet { height: 6.875rem; width: 11.66667%; z-index: 10; position: relative; border-radius: 0; opacity: 1; margin-left: 0; margin-right: 0; }

#viewport .swiper-pagination-bullet:nth-child(1) { background: url(../images/gnb/elem1.png) no-repeat; background-size: 100% auto; }

#viewport .swiper-pagination-bullet:nth-child(2) { background: url(../images/gnb/elem2.png) no-repeat; background-size: 100% auto; }

#viewport .swiper-pagination-bullet:nth-child(3) { background: url(../images/gnb/elem3.png) no-repeat; background-size: 100% auto; }

#viewport .swiper-pagination-bullet:nth-child(4) { background: url(../images/gnb/elem4.png) no-repeat; background-size: 100% auto; }

#viewport .swiper-pagination-bullet:nth-child(5) { background: url(../images/gnb/elem5.png) no-repeat; background-size: 100% auto; }

#viewport .swiper-pagination-bullet-active:nth-child(1) { background: url(../images/gnb/elem1-on.png) no-repeat; background-size: 100% auto; }

#viewport .swiper-pagination-bullet-active:nth-child(2) { background: url(../images/gnb/elem2-on.png) no-repeat; background-size: 100% auto; }

#viewport .swiper-pagination-bullet-active:nth-child(3) { background: url(../images/gnb/elem3-on.png) no-repeat; background-size: 100% auto; }

#viewport .swiper-pagination-bullet-active:nth-child(4) { background: url(../images/gnb/elem4-on.png) no-repeat; background-size: 100% auto; }

#viewport .swiper-pagination-bullet-active:nth-child(5) { background: url(../images/gnb/elem5-on.png) no-repeat; background-size: 100% auto; }
